Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

ci(Circle): fix workflow
  .circleci/config.yml
Due: none

ci(Circle): add build before test lib
  .circleci/config.yml
Due: none

build(lib): change index to lib index
  .circleci/config.yml
  .styleguide/setup.js
  .travis.yml
  build-index.js
  index.js
  package.json
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/index.js
  tests/lib.test.manual.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.4.0-beta.10
  CHANGELOG.md
  package.json
Due: prettier --write

fix(npm): fix npm index file
  package.json
Due: prettier --write

chore(release): 0.4.0-beta.11
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(Card): rewrite card padding code
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/style/index.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tabs): fix tabs tab height style bug
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Tabs): fix style bug when nest two diffrence styleType tabs
  src/components/Tabs/Tabs.jsx
  src/components/Tabs/__demo__/tabs-child.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Tabs): fix tabs tab bar style
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): move footer outside of table content
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add resizableTH for table td resize
  .styleguide/components.json
  .styleguide/setup.js
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ResizableTH.jsx
  src/components/Table/ResizableTH.md
  src/components/Table/Table.jsx
  src/components/Table/__demo__/resizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change resizable table header style
  README.md
  src/components/Table/ResizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add resizableTH for table td resize
  .styleguide/components.json
  .styleguide/setup.js
  README.md
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ResizableTH.jsx
  src/components/Table/ResizableTH.md
  src/components/Table/Table.jsx
  src/components/Table/__demo__/resizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix scroll bar visible in windows
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(All): fix zindex override bug
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/style/index.js
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): fix outline of calendar popover
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): add button styleType to actionList
  src/components/Table/ActionList.jsx
  src/components/Table/__demo__/actionList.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add Group of form
  .styleguide/components.json
  src/components/Form/Group.jsx
  src/components/Form/Group.md
  src/components/Form/__demo__/group.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/index.jsx
  src/components/Form/style/index.js
  src/components/Table/ActionList.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Radio): add classnames
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/Group.jsx
  src/components/Form/__demo__/group.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/Radio.jsx
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/Tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
  src/components/ThemeProvider/material.js
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): support promise when use modal method
  src/components/Modal/__demo__/method.jsx
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage
