Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(table): change pagination margintop
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(message): messagecontainer ref is null
  src/components/Message/method.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(autocomplete): add input props
  src/components/AutoComplete/AutoComplete.tsx
Due: none

feat(list): init
  .styleguide/components.js
  src/components/List/ActionIcon.tsx
  src/components/List/ConfigInfo.tsx
  src/components/List/Content.tsx
  src/components/List/Hovertip.tsx
  src/components/List/Icontip.tsx
  src/components/List/Item.tsx
  src/components/List/List.md
  src/components/List/List.tsx
  src/components/List/__demo__/base.jsx
  src/components/List/__demo__/image.jsx
  src/components/List/__demo__/layout.jsx
  src/components/List/__demo__/layout_card.jsx
  src/components/List/__demo__/more.jsx
  src/components/List/__demo__/pagination.jsx
  src/components/List/__demo__/right.jsx
  src/components/List/__demo__/tools.jsx
  src/components/List/__test__/__snapshots__/demo.test.js.snap
  src/components/List/__test__/demo.test.js
  src/components/List/__test__/image.test.js
  src/components/List/index.tsx
  src/components/List/style/index.js
  src/components/List/typings.ts
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Edit.jsx
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): tabel filter disabled
  src/components/Table/Table.jsx
  src/components/Table/__tests__/index.test.js
  src/components/Table/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(card): add card tokens
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/style/index.js
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Skeleton/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(List): add recodo
  .recodo/componentDemos/List.tsx
  .recodo/data/List.doc.json
  .recodo/data/List.info.json
  .recodo/data/Tabs.info.json
  .recodo/data/index.js
  .styleguide/components.js
  index.d.ts
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/style/index.ts
  src/components/List/ActionIcon.md
  src/components/List/ConfigInfo.md
  src/components/List/ConfigInfo.tsx
  src/components/List/Content.md
  src/components/List/Hovertip.md
  src/components/List/Icontip.md
  src/components/List/Icontip.tsx
  src/components/List/Item.tsx
  src/components/List/List.md
  src/components/List/List.tsx
  src/components/List/__demo__/action_icon.jsx
  src/components/List/__demo__/card.jsx
  src/components/List/__demo__/content.jsx
  src/components/List/__demo__/hover_tip.jsx
  src/components/List/__demo__/icon_tip.jsx
  src/components/List/__demo__/layout.jsx
  src/components/List/__demo__/layout_card.jsx
  src/components/List/__test__/__snapshots__/demo.test.js.snap
  src/components/List/style/index.js
  src/components/List/typings.ts
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(AutoComplete): add size
  src/components/AutoComplete/AutoComplete.tsx
  src/components/AutoComplete/__demo__/autoComplete.jsx
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): columnConfigButton style
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ColumnConfigButton.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(table): add col tag props
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/utils.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): remove drag classname
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.11.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(steps): steps new version
  src/components/Steps/Step.jsx
  src/components/Steps/StepIcon.jsx
  src/components/Steps/Steps.jsx
  src/components/Steps/Steps.md
  src/components/Steps/__demo__/steps-change.jsx
  src/components/Steps/__demo__/steps-vertical.jsx
  src/components/Steps/__demo__/steps.jsx
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Steps): add nowrap props
  src/components/Steps/Step.jsx
  src/components/Steps/Steps.jsx
  src/components/Steps/__demo__/steps-steps.jsx
  src/components/Steps/__demo__/steps.jsx
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.12.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Steps): hidden remark
  .recodo/componentDemos/Steps.tsx
  index.d.ts
  src/components/Steps/Step.jsx
  src/components/Steps/__demo__/steps.jsx
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Message): new dynamic
  src/components/Message/MessageContainer.jsx
  src/components/Message/method.jsx
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Steps): add doc
  .recodo/data/Steps.doc.json
  .recodo/data/Steps.info.json
  .recodo/data/Tabs.info.json
Due: prettier --write

chore(release): 1.12.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Cascader): add separator
  .recodo/data/Cascader.info.json
  src/components/Cascader/Cascader.tsx
  src/components/Cascader/__demo__/cascader.jsx
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.tsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Steps): fix style
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): consistent style with typo
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/style/index.ts
Due: none

feat(Table): rowSelection增加聚合
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/subTableForCheckBox.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(table): change disabled parent check type
  src/components/Table/Table.jsx
  src/components/Table/__demo__/subTableForCheckBox.jsx
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage
