Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(DatePicker): add support of theme
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Calendar): add support of theme
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.js
  src/components/DatePicker/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Checkbox): fix style of checkbox
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
  src/components/Menu/style/theme.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Tooltip): add support of theme
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/ThemeProvider/ThemeGetter.jsx
  src/components/ThemeProvider/theme.js
  src/components/Tooltip/Tooltip.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
  src/components/Tooltip/style/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Modal): add support of theme
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/Modal.jsx
  src/components/Modal/style/index.js
  src/components/ThemeProvider/InnerDefaultThemeProvider.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Table): add support of theme
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Progress): add support of theme
  src/components/Progress/Progress.jsx
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Loading): add support of theme
  src/components/Loading/Loading.jsx
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Pagination): add support of theme
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/index.test.js
  src/components/Pagination/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Message): add support of theme
  src/components/Message/Message.jsx
  src/components/Message/Message.md
  src/components/Message/__demo__/method.jsx
  src/components/Message/method.jsx
  src/components/Message/style/index.js
  src/components/Modal/method.jsx
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/runtime.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Breadcrumb): add support of theme
  src/components/Breadcrumb/Breadcrumb.jsx
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/style/index.js
  src/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Styleguide): upgrade Styleguide
  .styleguide/components/ReactExample.jsx
  package.json
  src/components/Checkbox/Group.jsx
  src/components/DatePicker/Range.jsx
  src/components/Radio/Group.jsx
  src/components/Upload/Upload.jsx
  styleguide.config.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(styled-components): upgrade styled-components
  package.json
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/style/index.js
  src/components/Button/Button.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.js
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/InnerDefaultThemeProvider.jsx
  src/components/ThemeProvider/ThemeGetter.jsx
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

refactor(ThemeProvider): remove InnerDefaultThemeProvider
  src/components/DatePicker/DatePicker.jsx
  src/components/DatePicker/Month.jsx
  src/components/DatePicker/Range.jsx
  src/components/Message/Message.jsx
  src/components/Message/style/index.js
  src/components/Modal/Modal.jsx
  src/components/Modal/style/index.js
  src/components/Notice/style/index.js
  src/components/NumberInput/style/index.js
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/style/index.js
  src/components/Progress/Progress.jsx
  src/components/Progress/style/index.js
  src/components/Radio/style/index.js
  src/components/Select/style/index.js
  src/components/Slider/style/index.js
  src/components/Switch/style/index.js
  src/components/Table/Table.jsx
  src/components/Table/style/index.js
  src/components/Tabs/style/index.js
  src/components/Textarea/style/index.js
  src/components/Tooltip/style/index.js
  src/components/Upload/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Tabs): fix nest tabs style bug
  package.json
  src/components/Tabs/Tabs.jsx
  src/components/Tabs/Tabs.md
  src/components/Tabs/__demo__/tabs-child.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
  src/components/Tabs/style/theme.js
  src/components/ThemeProvider/ThemeProvider.md
  src/components/ThemeProvider/__demo__/themeprovider.jsx
  src/components/ThemeProvider/theme.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(ThemeProvider): add theme generator
  src/components/Button/style/theme.js
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/style/theme.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.js
  src/components/Switch/style/theme.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/theme.js
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/__demo__/themeprovider.jsx
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/green.js
  src/components/ThemeProvider/theme.js
  src/components/Tooltip/style/theme.js
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.4.0-beta.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(ThemeProvider): clear code & add fii and green color theme
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/fii.js
  src/components/ThemeProvider/green.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Table): add single select table selection
  src/components/Radio/Radio.jsx
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__demo__/rowSelection.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix table missing background when x is scrollable
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.4.0-beta.1
  CHANGELOG.md
  package.json
Due: prettier --write

perf(Menu): change some component to PureComponent
  src/components/Menu/Item.jsx
  src/components/Select/Option.jsx
  src/components/Select/Select.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

docs(StyleGuide): add theme changer on top
  .styleguide/components/ReactExample.jsx
  .styleguide/components/StyleGuideRenderer.jsx
  .styleguide/components/theme.svg
  src/components/ThemeProvider/fii.js
  src/components/ThemeProvider/green.js
  src/components/ThemeProvider/material.js
  src/components/ThemeProvider/ocean.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(ThemeProvider): fix themeProvider bug when change theme
  src/components/ThemeProvider/ThemeProvider.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(snapshot): update snapshot
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/index.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

test(test): update snapshots
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/index.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

test(test): update snapshots
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Popover/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
Due: none

chore(release): 0.4.0-beta.2
  CHANGELOG.md
  package.json
Due: prettier --write
