Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): fix initRenderRowSelectionDate
  src/components/Table/Table.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): get flatDataSourceKeys
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add error status
  src/components/Select/Select.tsx
  src/components/Select/__demo__/select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
  src/hooks/useOverflow.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Message): add h3 bold
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Steps): fix style
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(autocomplete): add input props
  src/components/AutoComplete/AutoComplete.tsx
Due: none

feat(Cascader): add separator
  .recodo/data/Cascader.info.json
  src/components/Cascader/Cascader.tsx
  src/components/Cascader/__demo__/cascader.jsx
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.tsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(table): change disabled parent check type
  src/components/Table/Table.jsx
  src/components/Table/__demo__/subTableForCheckBox.jsx
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): rowSelection增加聚合
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/subTableForCheckBox.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.14.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(DatePicker): adjustX
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Month.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
Due: none

feat(tag): add tag component tokens
  .recodo/componentDemos/Tag.tsx
  .recodo/data/Tag.doc.json
  .recodo/data/Tag.info.json
  .styleguide/components/Examples.jsx
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  index.d.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.ts
  src/components/Tag/Group.jsx
  src/components/Tag/Group.md
  src/components/Tag/Group.tsx
  src/components/Tag/Icon.jsx
  src/components/Tag/Tag.jsx
  src/components/Tag/__demo__/group-expose.jsx
  src/components/Tag/__demo__/group-resizable.jsx
  src/components/Tag/__demo__/icon.jsx
  src/components/Tag/__demo__/tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
  src/components/ThemeProvider/designTokensDark.ts
  src/components/ThemeProvider/designTokensPrivate.ts
  src/components/ThemeProvider/private.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tag): change tokens
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
  src/components/ThemeProvider/designTokensPrivate.ts
Due: none

chore(release): 1.15.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(Interface): update index.d.ts
  index.d.ts
Due: none

docs(Interface): update Table type
  index.d.ts
Due: none

feat(DatePicker): merge pop ups
  src/components/DatePicker/Range.md
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__demo__/range-adjustX.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(ZForm): fix validator null
  src/components/ZForm/__demo__/rule.jsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/controllerDecorator.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore: codecov
  src/components/ZForm/__demo__/rule.jsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Cascader): cascader top extra render
  .recodo/data/Cascader.doc.json
  .recodo/data/Cascader.info.json
  src/components/Cascader/Cascade.tsx
  src/components/Cascader/Cascader.md
  src/components/Cascader/Cascader.tsx
  src/components/Cascader/Items.tsx
  src/components/Cascader/__demo__/topExtraRender.jsx
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(locale): update locale of en
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/locale/en_US.js
  src/components/Modal/locale/en_US.js
  src/components/Pagination/locale/en_US.js
  src/components/PopConfirm/locale/en_US.js
  src/components/Select/locale/en_US.js
  src/components/Slider/locale/en_US.js
  src/components/Table/locale/en_US.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.16.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
