Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): multiple add renderContent
  src/components/Select/Select.tsx
  src/components/Select/__demo__/renderContent.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(List): vertical style
  src/components/List/ConfigInfo.tsx
  src/components/List/Item.tsx
  src/components/List/__demo__/base.jsx
  src/components/List/__test__/__snapshots__/demo.test.js.snap
  src/components/List/style/index.js
  src/components/List/typings.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(TabBar): flex type
  src/components/Tabs/TabBar.tsx
Due: none

feat(Table): table add reset selected
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/loadingDataFromRemoteForrowSelection.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.17.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Skeleton): add tokens
  src/components/Skeleton/style/index.ts
Due: none

feat(button): add tokens
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/Button.tsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.tsx
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(table): add table selected rows
  src/components/Table/Table.jsx
  src/components/Table/__demo__/base.jsx
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.17.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): table row supports tooltip
  index.d.ts
  src/components/Popover/index.tsx
  src/components/Table/Table.jsx
  src/components/Table/TableRow.tsx
  src/components/Table/__demo__/rowSelection.jsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/index.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.18.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Select): add autoClearSearchValue
  .gitignore
  .recodo/componentDemos/Select.tsx
  src/components/Select/Select.md
  src/components/Select/Select.tsx
  src/components/Select/__demo__/autoClearSearchValue.jsx
  src/components/Select/__demo__/select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(actionlist): "action list more" button is a square
  src/components/ActionList/ActionList.tsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Cascader): add custom width
  .gitignore
  src/components/Cascader/Cascader.md
  src/components/Cascader/Items.tsx
  src/components/Cascader/__demo__/customWidth.jsx
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/interface.ts
  src/components/Cascader/style/cascade.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.18.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.18.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): pagination 支持hide 属性
  src/components/Table/Table.jsx
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.18.3
  CHANGELOG.md
  package.json
Due: prettier --write

Revert "feat(Table): pagination 支持hide 属性"
  src/components/Table/Table.jsx
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(npm): token
  .history/.circleci/config_20251126191909.yml
  .history/.circleci/config_20260114094503.yml
  .history/.circleci/config_20260114155809.yml
  .history/.gitignore_20251126191909
  .history/.gitignore_20260114094826
Due: none

chore(release): 1.18.4
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
