Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(textarea): fix font color
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(tabs): add additional slots to the tab
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__demo__/tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(tag): add tag component tokens
  .recodo/componentDemos/Tag.tsx
  .recodo/data/Tag.doc.json
  .recodo/data/Tag.info.json
  .styleguide/components/Examples.jsx
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  index.d.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.ts
  src/components/Tag/Group.jsx
  src/components/Tag/Group.md
  src/components/Tag/Group.tsx
  src/components/Tag/Icon.jsx
  src/components/Tag/Tag.jsx
  src/components/Tag/__demo__/group-expose.jsx
  src/components/Tag/__demo__/group-resizable.jsx
  src/components/Tag/__demo__/icon.jsx
  src/components/Tag/__demo__/tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
  src/components/ThemeProvider/designTokensDark.ts
  src/components/ThemeProvider/designTokensPrivate.ts
  src/components/ThemeProvider/private.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix bug where onChange returns null
  src/components/DatePicker/Range.tsx
Due: none

fix(DatePicker): remove debugger
  src/components/DatePicker/Range.tsx
Due: none

fix(table): verify localStorage
  src/components/Table/__demo__/columnConfigButton-modalProps.jsx
  src/components/Table/__demo__/columnConfigButton.jsx
  src/components/Table/__tests__/index.test.js
  src/components/Table/utils.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): filter value
  src/components/Table/Table.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): verify localStorage (#400)
  src/components/Table/Table.jsx
  src/components/Table/__demo__/columnConfigButton-modalProps.jsx
  src/components/Table/__demo__/columnConfigButton.jsx
  src/components/Table/__tests__/index.test.js
  src/components/Table/utils.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(theme): list theme
  .recodo/index.tsx
Due: none

feat(theme): list theme (#387)
  .recodo/index.tsx
Due: none

feat(message): change the layout of the main text
  src/components/Message/Message.jsx
  src/components/Message/__demo__/title.jsx
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(message): change the layout of the main text (#395)
  src/components/Message/Message.jsx
  src/components/Message/__demo__/title.jsx
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(card): add card outside padding token
  index.d.ts
  src/components/Card/style/index.js
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(docs): update recodo demo
  .recodo/componentDemos/ActionList.tsx
  .recodo/componentDemos/AutoComplete.tsx
  .recodo/componentDemos/Badge.tsx
  .recodo/componentDemos/Button.tsx
  .recodo/componentDemos/Calendar.tsx
  .recodo/componentDemos/Card.tsx
  .recodo/componentDemos/Cascader.tsx
  .recodo/componentDemos/Checkbox.tsx
  .recodo/componentDemos/Collapse.tsx
  .recodo/componentDemos/Combine.tsx
  .recodo/componentDemos/DatePicker.tsx
  .recodo/componentDemos/Drawer.tsx
  .recodo/componentDemos/EditableList.tsx
  .recodo/componentDemos/EditableTable.tsx
  .recodo/componentDemos/Form.tsx
  .recodo/componentDemos/Icon.tsx
  .recodo/componentDemos/Input.tsx
  .recodo/componentDemos/Layout.tsx
  .recodo/componentDemos/Link.tsx
  .recodo/componentDemos/Loading.tsx
  .recodo/componentDemos/Menu.tsx
  .recodo/componentDemos/Message.tsx
  .recodo/componentDemos/Modal.tsx
  .recodo/componentDemos/Nav.tsx
  .recodo/componentDemos/NumberInput.tsx
  .recodo/componentDemos/Pagination.tsx
  .recodo/componentDemos/Progress.tsx
  .recodo/componentDemos/Radio.tsx
  .recodo/componentDemos/Select.tsx
  .recodo/componentDemos/Skeleton.tsx
  .recodo/componentDemos/Table.tsx
  .recodo/componentDemos/Tabs.tsx
  .recodo/componentDemos/Tag.tsx
  .recodo/componentDemos/TimePicker.tsx
  .recodo/componentDemos/Tooltip.tsx
  .recodo/componentDemos/TransferMenu.tsx
  .recodo/componentDemos/TransferTable.tsx
  .recodo/componentDemos/Tree.tsx
  .recodo/editorComponentDemos.tsx
Due: none

feat(docs): update recodo demo (#398)
  .recodo/componentDemos/ActionList.tsx
  .recodo/componentDemos/AutoComplete.tsx
  .recodo/componentDemos/Badge.tsx
  .recodo/componentDemos/Button.tsx
  .recodo/componentDemos/Calendar.tsx
  .recodo/componentDemos/Card.tsx
  .recodo/componentDemos/Cascader.tsx
  .recodo/componentDemos/Checkbox.tsx
  .recodo/componentDemos/Collapse.tsx
  .recodo/componentDemos/Combine.tsx
  .recodo/componentDemos/DatePicker.tsx
  .recodo/componentDemos/Drawer.tsx
  .recodo/componentDemos/EditableList.tsx
  .recodo/componentDemos/EditableTable.tsx
  .recodo/componentDemos/Form.tsx
  .recodo/componentDemos/Icon.tsx
  .recodo/componentDemos/Input.tsx
  .recodo/componentDemos/Layout.tsx
  .recodo/componentDemos/Link.tsx
  .recodo/componentDemos/Loading.tsx
  .recodo/componentDemos/Menu.tsx
  .recodo/componentDemos/Message.tsx
  .recodo/componentDemos/Modal.tsx
  .recodo/componentDemos/Nav.tsx
  .recodo/componentDemos/NumberInput.tsx
  .recodo/componentDemos/Pagination.tsx
  .recodo/componentDemos/Progress.tsx
  .recodo/componentDemos/Radio.tsx
  .recodo/componentDemos/Select.tsx
  .recodo/componentDemos/Skeleton.tsx
  .recodo/componentDemos/Table.tsx
  .recodo/componentDemos/Tabs.tsx
  .recodo/componentDemos/Tag.tsx
  .recodo/componentDemos/TimePicker.tsx
  .recodo/componentDemos/Tooltip.tsx
  .recodo/componentDemos/TransferMenu.tsx
  .recodo/componentDemos/TransferTable.tsx
  .recodo/componentDemos/Tree.tsx
  .recodo/editorComponentDemos.tsx
Due: none

fix(editor): fixed token version
  .recodo/index.tsx
Due: none

feat(locale): update locale of en
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/locale/en_US.js
  src/components/Modal/locale/en_US.js
  src/components/Pagination/locale/en_US.js
  src/components/PopConfirm/locale/en_US.js
  src/components/Select/locale/en_US.js
  src/components/Slider/locale/en_US.js
  src/components/Table/locale/en_US.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

test(DatePicker): add tests to DatePicker
  src/components/DatePicker/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix onChange returns an unexpected null value (#402)
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.10.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat(tabs): add extra
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__demo__/tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(tabs): add extra slots to the tab (#399)
  src/components/Tabs/TabBar.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__demo__/tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(table): remove drag classname
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): tabel filter disabled
  src/components/Table/Table.jsx
  src/components/Table/__tests__/index.test.js
  src/components/Table/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): columnConfigButton style
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ColumnConfigButton.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(table): add col tag props
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/utils.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
