Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

ci(Travis): fix travis ci deploy match
  .travis.yml
Due: none

ci(Circle): fix circle ci build error
  .circleci/config.yml
  .gitignore
Due: none

feat(Slider): add onLastChange
  src/components/Slider/Slider.jsx
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): add hideExpandIcon
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/defaultExpandAllRows.jsx
  src/components/Table/__demo__/expandedRowKeys.jsx
  src/components/Table/__demo__/hideExpandIcon.jsx
  src/components/Table/__demo__/onHeaderRow.jsx
  src/components/Table/__demo__/onRow.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix record key when there is no key to use
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.3.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): fix Table Row compnent allways recreate bug
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(ThemeProvider): add ThemeProvider to controll global styles
  .styleguide/components.json
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/ThemeProvider.md
  src/components/ThemeProvider/index.jsx
  src/components/ThemeProvider/style/index.js
  src/components/ThemeProvider/theme.js
  src/components/ThemeProvider/withTheme.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Notice): add support of theme
  src/components/Notice/Notice.jsx
  src/components/Notice/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

perf(ThemeProvider): change theme object structre
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Button): add support of theme
  src/components/Button/Button.jsx
  src/components/Button/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Card): add support of theme
  src/components/Card/Card.jsx
  src/components/Card/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Input): add support of theme
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/Button.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.js
  src/components/Button/style/theme.js
  src/components/Card/Card.jsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/style/index.js
  src/components/Card/style/theme.js
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/Notice.jsx
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/style/index.js
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/Tabs.jsx
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
  src/components/Tabs/style/theme.js
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/theme.js
  src/components/ThemeProvider/withTheme.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(NumberInput): add support of theme
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/color.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Textarea): add support of theme
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/style/index.js
  src/components/ThemeProvider/color.js
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix override of onRow affect contextMenu
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Select): add support of theme
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): hide tip wrap when emptyContent is null
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix when table hideExpandIcon. width is not wrong
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Table): update test snapshots
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: none

fix(Table): fix when table hideExpandIcon. width is not wrong
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.3.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Menu): add support of theme
  src/components/Card/style/theme.js
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/Menu.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
  src/components/Menu/style/theme.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/theme.js
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Checkbox): add support of theme
  src/components/Checkbox/Checkbox.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Radio): add support of theme
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Switch): add support of theme
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.js
  src/components/Switch/style/theme.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/theme.js
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Slider): add support of theme
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/style/index.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Upload): add support of theme
  src/components/Upload/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests
