Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(readme): update readme info of react version
  README.md
Due: prettier --write

feat(Badge): fix align not update & add bubble container, offset
  package.json
  src/components/Badge/Badge.jsx
  src/components/Badge/Bubble.jsx
  src/components/Badge/__demo__/badge.jsx
  src/components/Badge/__demo__/bubble.jsx
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/placements.js
  src/libs/rc-align/index.jsx
  src/libs/rc-align/util.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(Loading): update loading demo indicator
  src/components/Loading/__demo__/indicator.jsx
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add config provider, forwardPopupContainer
  .styleguide/components.json
  src/components/ConfigProvider/ConfigContext.jsx
  src/components/ConfigProvider/ConfigProvider.jsx
  src/components/ConfigProvider/ConfigProvider.md
  src/components/ConfigProvider/__demo__/demo.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/demo.test.js
  src/components/ConfigProvider/index.jsx
  src/components/DatePicker/DatePicker.jsx
  src/components/DatePicker/Month.jsx
  src/components/DatePicker/Range.jsx
  src/components/Select/Select.jsx
  src/components/Table/ActionList.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.7.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Select): add renderPopup
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/renderPopup.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/decorators/selectableWithStore/store.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.7.3
  CHANGELOG.md
  package.json
Due: prettier --write

save
  src/components/Button/Button.jsx
  src/components/Button/style/index.js
  src/components/Calendar/style/index.js
  src/components/DatePicker/style/index.js
  src/components/Drawer/style/index.js
  src/components/EditableTable/style/index.js
  src/components/Message/method.jsx
  src/components/Message/style/index.js
  src/components/Modal/method.jsx
  src/components/Modal/style/index.js
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/style/index.js
  src/components/PopConfirm/style/index.js
  src/components/Popover/style/index.js
  src/components/Progress/style/index.js
  src/components/Select/style/index.js
  src/components/Slider/style/index.js
  src/components/Spin/style/index.js
  src/components/Switch/style/index.js
  src/components/Table/ResizableTH.jsx
  src/components/Table/style/index.js
  src/components/Tabs/style/index.js
  src/components/ThemeProvider/InnerDefaultThemeProvider.jsx
  src/components/ThemeProvider/ThemeGetter.jsx
  src/components/ThemeProvider/ThemeProvider.jsx
  src/components/ThemeProvider/__demo__/themeprovider.jsx
  src/components/ThemeProvider/addDefaultThemeProps.js
  src/components/Transfer/style/index.js
  src/components/TransferMenu/style/index.js
  src/components/TransferTable/style/index.js
  src/components/Upload/style/index.js
  src/utils/withProps.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix style lint
  .stylelintrc
  package.json
  src/components/Select/style/index.js
  src/components/Tag/style/index.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix style lint
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
Due: none

fix
  package.json
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/NumberInput.jsx
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ResizableTH.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/__demo__/themeprovider.jsx
  src/libs/rc-drawer/Drawer.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix click popup hide bug
  src/components/DatePicker/Range.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.7.4
  CHANGELOG.md
  package.json
Due: prettier --write

build(analyzer): add webpack analyzer for bundle
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(publish): add publish major script
  package.json
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(build): upgrade babel webpack
  .babelrc
  package.json
  tests/__mocks__/rc-trigger.js
  tests/setup.js
  webpack.config.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Badge): add size for badge.bubble
  package.json
  src/components/Badge/Bubble.jsx
  src/components/Badge/__demo__/bubble.jsx
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(lib): update lib test
  .circleci/config.yml
  .travis.yml
  package.json
  tests/lib.manual.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(designTokens): use dt to replace old theme
  src/components/Form/style/index.js
  src/components/Table/style/index.js
  src/components/Upload/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(styleguide): upgrade react-styleguidist & add dark mode
  .styleguide/components/Examples.jsx
  .styleguide/components/ExamplesRenderer.jsx
  .styleguide/components/Preview.tsx
  .styleguide/components/ReactComponentRenderer.tsx
  .styleguide/components/ReactExample.jsx
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  .styleguide/style.css
  DEVELOP.md
  package.json
  styleguide.config.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): delete Table outer padding
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(lot): change disable cursor style
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.js
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(build): fix build crash
  .babelrc
  src/components/Table/Table.jsx
  src/components/Table/TableRow.jsx
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Transfer): add search.handleSearch
  src/components/Transfer/Transfer.jsx
  src/components/Transfer/Transfer.md
  src/components/Transfer/__demo__/transfer-search.jsx
  src/components/Transfer/__demo__/transfer.jsx
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
