Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

docs(index.d.ts): singleQuote to doubleQuote
  index.d.ts
Due: none

docs(index.d.ts): update index.d.ts
  index.d.ts
Due: none

feat(Modal): add openModal method
  src/components/Modal/Modal.md
  src/components/Modal/__demo__/modal.jsx
  src/components/Modal/__demo__/openModal.jsx
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): add customStyle of contentPadding
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/Content.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/__demo__/mask.jsx
  src/components/Modal/__demo__/maskClosable.jsx
  src/components/Modal/__demo__/method.jsx
  src/components/Modal/__demo__/modal.jsx
  src/components/Modal/__demo__/openModal.jsx
  src/components/Modal/__demo__/popupContainer.jsx
  src/components/Modal/__demo__/size.jsx
  src/components/Modal/__demo__/titleAndFooter.jsx
  src/components/Modal/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add tip to form item
  .styleguide/components.js
  .styleguide/components.json
  src/components/Checkbox/Checkbox.jsx
  src/components/Form/Item.jsx
  src/components/Form/__demo__/item.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.js
  src/components/Message/Message.jsx
  src/components/PopConfirm/PopConfirm.jsx
  src/components/Steps/Link.jsx
  src/components/Steps/StepIcon.jsx
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/CircleCross.jsx
  src/components/SvgIcon/icons/CircleInfo.jsx
  src/components/SvgIcon/icons/CircleTick.jsx
  src/components/Transfer/Transfer.jsx
  src/components/Upload/Item.jsx
  src/components/ZForm/__demo__/rule.jsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
  src/utils/memo.js
  src/utils/string.ts
  styleguide.config.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tag): add styleType of red-fill
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): change item.tip.status to item.status
  src/components/Form/Item.jsx
  src/components/Form/__demo__/item.jsx
  src/components/ZForm/__demo__/rule.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Docs): update docs Anchor
  .styleguide/components/Examples.jsx
  src/components/Form/Form.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.13
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.13
  build/bundle.ae2bf6d2.js
  build/bundle.ae2bf6d2.js.LICENSE.txt
  build/bundle.fddaaa2b.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Interface): ObjectExclude add Partial
  index.d.ts
Due: none

fix(Tabs): fix nested margin bug
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add subGroup to make a little item group
  .styleguide/components.js
  src/components/Form/SubGroup.jsx
  src/components/Form/SubGroup.md
  src/components/Form/__demo__/subGroup.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/index.jsx
  src/components/Form/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add itemProps to set item layout
  .styleguide/components.js
  src/components/Form/Form.jsx
  src/components/Form/Form.md
  src/components/Form/Group.md
  src/components/Form/Item.jsx
  src/components/Form/Item.md
  src/components/Form/ItemContext.jsx
  src/components/Form/SubArea.jsx
  src/components/Form/SubArea.md
  src/components/Form/SubGroup.jsx
  src/components/Form/__demo__/form-itemProps.jsx
  src/components/Form/__demo__/form.jsx
  src/components/Form/__demo__/subArea.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/index.jsx
  src/components/Form/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Form): add shareStatus to Item
  src/components/Form/ControllerContext.jsx
  src/components/Form/Form.jsx
  src/components/Form/Group.jsx
  src/components/Form/Item.jsx
  src/components/Form/Item.md
  src/components/Form/ItemPropsWrap.jsx
  src/components/Form/SubArea.jsx
  src/components/Form/__demo__/item-shareStatus.jsx
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/Input.jsx
  src/components/Input/Search.jsx
  src/components/ZForm/__demo__/rule.jsx
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

Menu: add warning if child is not MenuItem or SubMenu component
  src/components/Menu/Menu.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Interface): fix Slider marks
  index.d.ts
Due: none

feat(Tag): rename styleType and change wrap to flex
  src/components/Tag/Icon.jsx
  src/components/Tag/Tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Docs): add gitalk
  .styleguide/components/StyleGuideRenderer.tsx
  package.json
  yarn.lock
Due: prettier --write

docs(Interface): Fix the interface for the Slider
  index.d.ts
Due: none

chore(release): 1.0.14
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.14
  build/bundle.6d75a61c.js
  build/bundle.6d75a61c.js.LICENSE.txt
  build/bundle.ae2bf6d2.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Gitalk): fix not refresh bug
  .styleguide/components/StyleGuideRenderer.tsx
Due: none

docs: Travis CI auto update docs,
  build/bundle.6893abf2.js
  build/bundle.6893abf2.js.LICENSE.txt
  build/bundle.6d75a61c.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Interface): update index.d.ts
  index.d.ts
Due: none

docs(Table): update demo list
  src/components/Table/ActionList.jsx
  src/components/Table/ActionList.md
  src/components/Table/ColumnConfigButton.md
  src/components/Table/HoverDisplayArea.md
  src/components/Table/ResizableTH.md
  src/components/Table/Table.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Docs): fix anchor list zindex bug and add overflow
  .styleguide/components/Examples.jsx
  .styleguide/style.css
  src/components/Table/__demo__/actionList.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Interface): update interface
  index.d.ts
Due: none

feat(Interface): add Override
  index.d.ts
Due: none

docs(Interface): update index.d.ts
  index.d.ts
Due: none

fix(Radio): fix text radio height
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.15
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Tag): fix tag overflow cause icon offset
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(all): fix test timeout
  src/components/LocaleProvider/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(Table): remove table order demo test to avoid crash
  src/components/Table/__demo__/order.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  tests/shared/demoTest.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage
