Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): add nav component
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  .recodo/data/index.js
  .styleguide/components.js
  package.json
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/collapsed.jsx
  src/components/Nav/__demo__/default-open-keys.jsx
  src/components/Nav/__demo__/one-level-with-switch.jsx
  src/components/Nav/__demo__/one-level.jsx
  src/components/Nav/__demo__/vertical.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/__tests__/demo.test.js
  src/components/Nav/index.tsx
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
  src/components/Nav/util.ts
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(add layout): add layout (#382)
  .recodo/data/Layout.doc.json
  .recodo/data/Layout.info.json
  .recodo/data/index.js
  .styleguide/components.js
  src/components/Layout/Content.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/Layout.md
  src/components/Layout/Layout.tsx
  src/components/Layout/Sider.md
  src/components/Layout/Sider.tsx
  src/components/Layout/__demo__/full-header.jsx
  src/components/Layout/__demo__/full-sider.jsx
  src/components/Layout/__demo__/no-sider.jsx
  src/components/Layout/__tests__/__snapshots__/demo.test.js.snap
  src/components/Layout/__tests__/demo.test.js
  src/components/Layout/index.tsx
  src/components/Layout/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): fix expandedRowRender render empty
  src/components/Table/__demo__/cellMerge.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/TableCell.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Notice): add box-sizing: content-box
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/style/index.ts
Due: none

feat(snapshots): update snapshots
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(add params): add subMenuItemRender,menuItemRender
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/one-level.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(vertical): update vertical
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  src/components/Nav/Nav.md
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/vertical.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/type.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

style(style): delete comment
  src/components/Nav/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

Feature/improve 1007 (#384)
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/style/index.ts
  src/components/Table/__demo__/cellMerge.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/libs/rc-table/TableCell.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): add filterSamllType, delete TopExtraItem param
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/collapsed.jsx
  src/components/Nav/__demo__/filter-small-type.jsx
  src/components/Nav/__demo__/one-level-with-switch.jsx
  src/components/Nav/__demo__/one-level.jsx
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): update snapshot
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write

chore(release): 1.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(nav): fix review problem, add design token
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/filter-small-type.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
  src/components/Nav/util.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): change style
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): fix cr problem
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/collapsed.jsx
  src/components/Nav/__demo__/default-open-keys.jsx
  src/components/Nav/__demo__/filter-small-type.jsx
  src/components/Nav/__demo__/one-level.jsx
  src/components/Nav/__demo__/vertical.jsx
  src/components/Nav/index.tsx
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): update snap
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write

fix(nav): fix ts error
  .recodo/data/Nav.info.json
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
Due: prettier --write

docs(nav): document change
  .recodo/data/Nav.doc.json
  src/components/Nav/Nav.md
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/collapsed.jsx
  src/components/Nav/__demo__/default-open-keys.jsx
  src/components/Nav/__demo__/vertical.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(locale): update locale of en
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/locale/en_US.js
  src/components/Modal/locale/en_US.js
  src/components/Pagination/locale/en_US.js
  src/components/PopConfirm/locale/en_US.js
  src/components/Select/locale/en_US.js
  src/components/Slider/locale/en_US.js
  src/components/Table/locale/en_US.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(nav): add nav component (#383)
  .recodo/data/Nav.doc.json
  .recodo/data/Nav.info.json
  .recodo/data/index.js
  .styleguide/components.js
  package.json
  src/components/Nav/Nav.md
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/SubMenu.tsx
  src/components/Nav/__demo__/all-comp.jsx
  src/components/Nav/__demo__/collapsed.jsx
  src/components/Nav/__demo__/default-open-keys.jsx
  src/components/Nav/__demo__/one-level.jsx
  src/components/Nav/__demo__/vertical.jsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/__tests__/demo.test.js
  src/components/Nav/index.tsx
  src/components/Nav/style/index.js
  src/components/Nav/type.ts
  src/components/Nav/util.ts
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(theme): component theme switch
  .recodo/index.tsx
Due: none

chore(release): 1.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.10.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(.recode): update design-token-editor version to 0.3.8
  .recodo/index.tsx
Due: none

update design-token-editor to 0.3.8
  recodo/dist/main.min.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(theme): list theme
  .recodo/index.tsx
Due: none

feat(docs): update recodo demo
  .recodo/componentDemos/ActionList.tsx
  .recodo/componentDemos/AutoComplete.tsx
  .recodo/componentDemos/Card.tsx
  .recodo/componentDemos/Cascader.tsx
  .recodo/componentDemos/Skeleton.tsx
  .recodo/componentDemos/TimePicker.tsx
  .recodo/componentDemos/TransferMenu.tsx
  .recodo/componentDemos/TransferTable.tsx
  .recodo/componentDemos/Tree.tsx
  .recodo/editorComponentDemos.tsx
  index.d.ts
Due: none

fix(nav): fix selectedKeys bug when switch inlineCollapsed
  index.d.ts
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(nav): fix selectedKeys bug when switch inlineCollapsed
  .recodo/data/Nav.info.json
  index.d.ts
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/__tests__/index.test.js
  src/components/Nav/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

test(nav): change test
  src/components/Nav/__tests__/index.test.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

style(card): change border bottom to 0 when configinfo in card
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/style/index.js
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Skeleton/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(tokens): add some tokens to components
  .recodo/componentDemos/Tag.tsx
  .recodo/data/Tag.doc.json
  .recodo/data/Tag.info.json
  .styleguide/components/Examples.jsx
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  index.d.ts
  package.json
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Drawer/Content.jsx
  src/components/Drawer/Drawer.jsx
  src/components/Drawer/Drawer.md
  src/components/Drawer/Title.jsx
  src/components/Drawer/__demo__/second.jsx
  src/components/Drawer/__demo__/title.jsx
  src/components/Drawer/index.jsx
  src/components/Drawer/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Message/Message.jsx
  src/components/Message/__demo__/title.jsx
  src/components/Message/style/index.js
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.ts
  src/components/Tag/Group.jsx
  src/components/Tag/Group.md
  src/components/Tag/Group.tsx
  src/components/Tag/Icon.jsx
  src/components/Tag/Tag.jsx
  src/components/Tag/Tag.md
  src/components/Tag/__demo__/group-expose.jsx
  src/components/Tag/__demo__/group-resizable.jsx
  src/components/Tag/__demo__/icon.jsx
  src/components/Tag/__demo__/tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
  src/components/ThemeProvider/designTokensDark.ts
  src/components/ThemeProvider/designTokensPrivate.ts
  src/components/ThemeProvider/private.js
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

style(nav): code style
  src/components/Nav/Nav.tsx
Due: none

fix(nav): fix selectedKeys bug when switch inlineCollapsed (#391)
  .recodo/data/Nav.info.json
  index.d.ts
  src/components/Nav/Nav.tsx
  src/components/Nav/NavContext.tsx
  src/components/Nav/NavItem.tsx
  src/components/Nav/__tests__/__snapshots__/demo.test.js.snap
  src/components/Nav/__tests__/index.test.js
  src/components/Nav/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(drawer): add drawer component tokens
  .styleguide/components/Examples.jsx
  .styleguide/components/ReactExample.tsx
  .styleguide/components/StyleGuideRenderer.tsx
  src/components/Drawer/Content.jsx
  src/components/Drawer/Drawer.jsx
  src/components/Drawer/Drawer.md
  src/components/Drawer/Title.jsx
  src/components/Drawer/__demo__/second.jsx
  src/components/Drawer/__demo__/title.jsx
  src/components/Drawer/index.jsx
  src/components/Drawer/style/index.js
  src/components/ThemeProvider/designTokensDark.ts
  src/components/ThemeProvider/designTokensPrivate.ts
  src/components/ThemeProvider/private.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(message): change the layout of the main text
  src/components/Message/Message.jsx
  src/components/Message/__demo__/title.jsx
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.10.2
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
