Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.4
  build/bundle.1b1b8207.js
  build/bundle.ef194a16.js
  build/bundle.ef194a16.js.LICENSE.txt
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Skeleton): add skeleton
  .styleguide/components.js
  src/components/Skeleton/Skeleton.md
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/__demo__/skeleton.jsx
  src/components/Skeleton/__demo__/usage.jsx
  src/components/Skeleton/__tests__/__snapshots__/demo.test.js.snap
  src/components/Skeleton/__tests__/demo.test.js
  src/components/Skeleton/index.tsx
  src/components/Skeleton/style/index.ts
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Skeleton): rename animation to animated
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/__demo__/skeleton.jsx
  src/components/Skeleton/__demo__/usage.jsx
  src/components/Skeleton/__tests__/__snapshots__/demo.test.js.snap
  src/components/Skeleton/style/index.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.6
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.5
  build/bundle.e13e0448.js
  build/bundle.e13e0448.js.LICENSE.txt
  build/bundle.ef194a16.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs: Circle CI auto update docs, v1.5.6
  build/bundle.96eaf0e1.js
  build/bundle.96eaf0e1.js.LICENSE.txt
  build/bundle.e13e0448.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(recodo): upgrade recodo-gen
  .recodo/data/ActionList.doc.json
  .recodo/data/ActionList.info.json
  .recodo/data/ConfigProvider.doc.json
  .recodo/data/ConfigProvider.info.json
  .recodo/data/DatePicker.info.json
  .recodo/data/Skeleton.doc.json
  .recodo/data/Skeleton.info.json
  .recodo/data/index.js
  package.json
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): remove search icon
  src/components/Select/Select.tsx
Due: none

feat(Select): hide popup when click clear
  src/components/Select/Select.tsx
Due: none

fix(Select): fix multiple list overflow
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.tsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Select): clear search when select
  src/components/Select/Select.tsx
Due: none

chore(release): 1.5.7
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.7
  build/bundle.80b6a374.js
  build/bundle.80b6a374.js.LICENSE.txt
  build/bundle.96eaf0e1.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(global): redirect docs to udesign
  .styleguide/setup.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.8
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.8
  build/bundle.4f900730.js
  build/bundle.4f900730.js.LICENSE.txt
  build/bundle.80b6a374.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(global): add #NR hash to go origin docs
  .styleguide/setup.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.9
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.9
  build/bundle.2d0b77c0.js
  build/bundle.2d0b77c0.js.LICENSE.txt
  build/bundle.4f900730.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

build(global): change some package ref to ucloud-fe
  .recodo/Component.tsx
  .recodo/index.tsx
  .recodo/package.json
  .recodo/webpack.config.js
  .recodo/yarn.lock
  package.json
  src/components/Calendar/Calendar.tsx
  src/components/Calendar/Cell.tsx
  src/components/Calendar/HeaderButton.tsx
  src/components/Calendar/HeaderSwitcher.tsx
  src/components/Calendar/Month.tsx
  src/components/Calendar/TwoSide.tsx
  src/components/Calendar/style/index.ts
  src/components/Calendar/utils.ts
  src/components/DatePicker/DatePicker.tsx
  src/components/DatePicker/Footer.tsx
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
  src/components/DatePicker/utils.ts
  src/components/TimePicker/TimePicker.tsx
  src/components/TimePicker/style/index.ts
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.10
  CHANGELOG.md
  package.json
Due: prettier --write

docs(global): update develop docs
  DEVELOP.md
  scripts/add_component.sh
Due: prettier --write

docs: Circle CI auto update docs, v1.5.10
  build/bundle.1fee1aa0.js
  build/bundle.1fee1aa0.js.LICENSE.txt
  build/bundle.2d0b77c0.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix missing seprator
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
Due: none

docs(develop): update
  DEVELOP.md
Due: prettier --write

chore(release): 1.5.11
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.11
  build/bundle.1a6eb4ef.js
  build/bundle.1a6eb4ef.js.LICENSE.txt
  build/bundle.1fee1aa0.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): update @ucloud-fe/calendar to fix date change bug
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.5.12
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Message): update styles、icons、demos
  .circleci/config.yml
  .recodo/data/Message.doc.json
  .recodo/yarn.lock
  .styleguide/style.css
  package.json
  src/components/Message/Message.jsx
  src/components/Message/Message.md
  src/components/Message/__demo__/config.jsx
  src/components/Message/__demo__/demo.jsx
  src/components/Message/__demo__/footer.jsx
  src/components/Message/__demo__/message.jsx
  src/components/Message/__demo__/method.jsx
  src/components/Message/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/icons/CircleCrossFill.jsx
  src/components/SvgIcon/icons/CircleMarkFill.jsx
  src/components/SvgIcon/icons/CircleYesMdFill.jsx
  src/components/SvgIcon/icons/LoadingLIne.jsx
  src/style/animation.ts
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.13
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Icon): fix svg icon name typo
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/LoadingLine.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.14
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Message): reset title h3 margin
  src/components/Message/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.15
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Select): fix get key from value
  src/components/Select/Select.tsx
Due: none

chore(release): 1.5.16
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Select): fix clear input value when clear Selector items
  src/components/Select/Select.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
