Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(All): add font-size to input and switch
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Notice/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.7
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.7
  build/bundle.b9f7e900.js
  build/bundle.b9f7e900.js.LICENSE.txt
  build/bundle.f53e165d.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Readme): fix badge style
  .styleguide/components/ParaRenderer.tsx
  .styleguide/style.css
  README.md
Due: prettier --write

fix(Upload): fix upload onRemove args bug
  src/components/Upload/CardItem.jsx
  src/components/Upload/Item.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(All): clean not-allowed cursor
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/style/index.js
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/style/index.js
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/style/index.js
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Input): change input disabled border
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Interface): update index.d.ts
  index.d.ts
Due: none

docs: Travis CI auto update docs, v1.0.8
  build/bundle.349cb3c1.js
  build/bundle.349cb3c1.js.LICENSE.txt
  build/bundle.b9f7e900.js
  index.html
  style.css
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): unselect link ignore disabled row
  src/components/Card/Card.jsx
  src/components/Popover/ContainerContext.jsx
  src/components/Table/Table.jsx
  src/components/Table/locale/en_US.js
  src/components/Table/locale/zh_CN.js
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableList): add vertical-align
  src/components/EditableList/__demo__/demo.jsx
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.9
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.9
  build/bundle.349cb3c1.js
  build/bundle.6ceeb7c7.js
  build/bundle.6ceeb7c7.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Modal): remove min-height in modal body
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.10
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.10
  build/bundle.4979fd2a.js
  build/bundle.4979fd2a.js.LICENSE.txt
  build/bundle.6ceeb7c7.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Slider): fix misspell
  src/components/Slider/Slider.jsx
  src/components/Slider/locale/en_US.js
  src/components/Slider/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Menu): add tooltip support
  src/components/Menu/Item.jsx
  src/components/Menu/Item.md
  src/components/Menu/__demo__/item-tooltip.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ActionList): move outside & add dropdownButton & tooptip
  .styleguide/components.json
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/ActionList.md
  src/components/ActionList/__demo__/actionChildren.jsx
  src/components/ActionList/__demo__/actionList.jsx
  src/components/ActionList/__demo__/dropdownButton.jsx
  src/components/ActionList/__demo__/exposeCount.jsx
  src/components/ActionList/__demo__/popoverProps.jsx
  src/components/ActionList/__demo__/size.jsx
  src/components/ActionList/__demo__/smart.jsx
  src/components/ActionList/__demo__/tooltip.jsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/ActionList/__tests__/demo.test.js
  src/components/ActionList/index.jsx
  src/components/ActionList/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): remove Table.ActionList & fix demo warning
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/ActionList.jsx
  src/components/Table/ActionList.md
  src/components/Table/Table.md
  src/components/Table/__demo__/actionList-actionChildren.jsx
  src/components/Table/__demo__/actionList-exposeCount.jsx
  src/components/Table/__demo__/actionList-popoverProps.jsx
  src/components/Table/__demo__/actionList-size.jsx
  src/components/Table/__demo__/actionList-smart.jsx
  src/components/Table/__demo__/cellMerge.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.11
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Modal): add update to method modal
  src/components/Modal/__demo__/method.jsx
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs: Travis CI auto update docs, v1.0.11
  build/bundle.1d222536.js
  build/bundle.1d222536.js.LICENSE.txt
  build/bundle.4979fd2a.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Tag): fix icon overrided in demo
  src/components/Tag/__demo__/icon-icon.jsx
  src/components/Tag/__demo__/icon.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): support theme and locale
  src/components/ConfigProvider/ConfigProvider.jsx
  src/components/ConfigProvider/ConfigProvider.md
  src/components/ConfigProvider/__demo__/locale.jsx
  src/components/ConfigProvider/__demo__/theme.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/LocaleProvider.jsx
  src/components/ThemeProvider/ThemeProvider.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): add comp browser list
  .babelrc.json
  .styleguide/style.css
  README.md
Due: prettier --write

docs(All): add anchor list
  .styleguide/components/Examples.jsx
  .styleguide/components/ExamplesRenderer.jsx
  .styleguide/components/StyleGuideRenderer.tsx
  .styleguide/style.css
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Box): add Box for layout
  .styleguide/components.json
  .styleguide/components/Examples.jsx
  README.md
  src/components/Box/Box.jsx
  src/components/Box/Box.md
  src/components/Box/__demo__/alignContent.jsx
  src/components/Box/__demo__/alignItems.jsx
  src/components/Box/__demo__/box.jsx
  src/components/Box/__demo__/card.jsx
  src/components/Box/__demo__/center.jsx
  src/components/Box/__demo__/direction.jsx
  src/components/Box/__demo__/flex.jsx
  src/components/Box/__demo__/float.jsx
  src/components/Box/__demo__/justifyContent.jsx
  src/components/Box/__demo__/order.jsx
  src/components/Box/__demo__/padding.jsx
  src/components/Box/__demo__/scroll.jsx
  src/components/Box/__demo__/spacing.jsx
  src/components/Box/__demo__/span.jsx
  src/components/Box/__demo__/usage.jsx
  src/components/Box/__demo__/wrap.jsx
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/demo.test.js
  src/components/Box/index.jsx
  src/components/Box/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tag): add some preset color
  src/components/Tag/__demo__/tag-styleType.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Combine): add separator
  src/components/Combine/Combine.jsx
  src/components/Combine/Combine.md
  src/components/Combine/__demo__/combine.jsx
  src/components/Combine/__demo__/separator.jsx
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Badge): change bubble yellow color
  src/components/Badge/Badge.md
  src/components/Badge/Bubble.md
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/style/index.js
  src/components/Tag/__demo__/tag-styleType.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.12
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.12
  build/bundle.1d222536.js
  build/bundle.fddaaa2b.js
  build/bundle.fddaaa2b.js.LICENSE.txt
  index.html
  style.css
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(index.d.ts): update index.d.ts
  index.d.ts
Due: none

docs(index.d.ts): update Tag and Modal.open
  index.d.ts
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
