Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Select): add support of LocaleProvider
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Select/Select.jsx
  src/components/Select/locale/en_US.js
  src/components/Select/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(snapshot): update snapshots
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Select): add support of LocaleProvider
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/locale/en_US.js
  src/components/Select/locale/zh_CN.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Modal): add support of LocaleProvider
  package.json
  src/components/LocaleProvider/LocaleProvider.jsx
  src/components/LocaleProvider/LocaleProvider.md
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/runtime.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/LocaleProvider/localeConsumerDecorator.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/locale/en_US.js
  src/components/Modal/locale/zh_CN.js
  src/components/Modal/method.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(locale): update snapshot
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Menu): add support of LocaleProvider
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Menu/Menu.jsx
  src/components/Menu/SubMenu.jsx
  src/components/Menu/locale/en_US.js
  src/components/Menu/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Upload): add support of LocaleProvider
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Upload/List.jsx
  src/components/Upload/Selector.jsx
  src/components/Upload/Upload.jsx
  src/components/Upload/locale/en_US.js
  src/components/Upload/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Table): add support of LocaleProvider
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Table/ColumnConfigButton.jsx
  src/components/Table/Table.jsx
  src/components/Table/locale/en_US.js
  src/components/Table/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix missing locale
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/Table/Table.jsx
  src/components/Table/locale/en_US.js
  src/components/Table/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Table): fix locale & update snapshots
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/locale/en_US.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Table): add test
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/Table/Table.jsx
  src/components/Table/locale/en_US.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

refactor(locale): change locale key format
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/locale/en_US.js
  src/components/DatePicker/locale/zh_CN.js
  src/components/LocaleProvider/__demo__/componentlocale.jsx
  src/components/LocaleProvider/__demo__/localeprovider.jsx
  src/components/Pagination/Options.jsx
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/locale/en_US.js
  src/components/Pagination/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

style(locale): style locale file of calendar
  src/components/Calendar/locale/en_US.js
  src/components/Calendar/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Slider): fix precision when compute float number
  src/components/Slider/Slider.jsx
  src/components/Slider/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Slider): update snapshots
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
Due: none

fix(Slider): fix precision when compute float number
  src/components/Slider/Slider.jsx
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(test): fill test cases
  src/components/Grid/Col.jsx
  src/components/Grid/Col.md
  src/components/Grid/__demo__/col-order.jsx
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/Options.jsx
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/index.test.js
  src/components/Popover/__tests__/__snapshots__/index.test.js.snap
  src/components/Popover/__tests__/index.test.js
  src/components/Switch/__tests__/index.test.js
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/__tests__/index.test.js
  src/decorators/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(NumberInput): add test case
  src/components/NumberInput/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Slider): add ratio, step to marks
  src/components/Slider/Slider.jsx
  src/components/Slider/__demo__/marks.jsx
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/index.test.js
  src/components/Slider/style/index.js
  src/components/Tooltip/Tooltip.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(NumberInput): trigger onNumberChange when press enter
  src/components/NumberInput/NumberInput.jsx
  src/components/NumberInput/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

fix(Slider): fix numberinput value translate bug
  src/components/NumberInput/NumberInput.jsx
  src/components/NumberInput/__tests__/index.test.js
  src/components/Slider/Slider.jsx
  src/components/Slider/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Slider): add tip when user input
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Slider/Slider.jsx
  src/components/Slider/Slider.md
  src/components/Slider/__demo__/isSensitive.jsx
  src/components/Slider/__demo__/numberInput.jsx
  src/components/Slider/__demo__/numberInputTipFormatter.jsx
  src/components/Slider/__demo__/slider.jsx
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/index.test.js
  src/components/Slider/locale/en_US.js
  src/components/Slider/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Slider): add missing locale test
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/Slider/Slider.jsx
  src/components/Slider/locale/en_US.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Slider): update snapshot
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Slider): add tip when user input
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Slider/Slider.jsx
  src/components/Slider/Slider.md
  src/components/Slider/__demo__/isSensitive.jsx
  src/components/Slider/__demo__/numberInput.jsx
  src/components/Slider/__demo__/numberInputTipFormatter.jsx
  src/components/Slider/__demo__/slider.jsx
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/index.test.js
  src/components/Slider/locale/en_US.js
  src/components/Slider/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

chore(release): 0.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs(develop): add info of publish
  DEVELOP.md
Due: prettier --write

ci(Travis): fix deploy when push tag
  .travis.yml
  DEVELOP.md
Due: prettier --write

docs(develop): fix deploy docs
  DEVELOP.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests: any of: *.{js,jsx}
