Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Slider): fix slider bug when key props change
  src/components/Slider/Slider.jsx
  src/components/ZForm/ZForm.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.7
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Theme): change color of T_COLOR_TEXT_REMARK_LIGHT
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Style): normalize placeholder opacity
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DesignTokens): update designTokens for remark
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Textarea/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Step): add designTokens to step
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.9
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): move columnPlaceholder before lastest fix column
  .prettierrc
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.10
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Table): fix table header scroll
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add support of controlled filter
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__demo__/filter.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): fix filter state conflict to props
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): update some docs
  src/components/Popover/Popover.jsx
  src/components/Table/Table.jsx
  src/components/Table/__demo__/columns.jsx
  src/components/Tooltip/Tooltip.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add extra content support
  .styleguide/components.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/Menu.jsx
  src/components/Menu/SubMenu.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
  src/components/Pagination/__tests__/index.test.js
  src/components/Select/Extra.jsx
  src/components/Select/Extra.md
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/extra.jsx
  src/components/Select/__demo__/group.jsx
  src/components/Select/__demo__/select-extra.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/index.jsx
  src/components/Select/style/index.js
  src/components/Table/__demo__/filter.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add extra docs
  src/components/Select/Select.jsx
  src/components/Table/__demo__/columns.jsx
  src/components/Table/__demo__/filter.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add extra content support
  .styleguide/components.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/Menu.jsx
  src/components/Menu/SubMenu.jsx
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
  src/components/Pagination/__tests__/index.test.js
  src/components/Select/Extra.jsx
  src/components/Select/Extra.md
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/extra.jsx
  src/components/Select/__demo__/group.jsx
  src/components/Select/__demo__/select-extra.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/index.jsx
  src/components/Select/style/index.js
  src/components/Table/__demo__/columns.jsx
  src/components/Table/__demo__/filter.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Progress): add color & support of DT
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Progress/Progress.jsx
  src/components/Progress/Progress.md
  src/components/Progress/__demo__/color.jsx
  src/components/Progress/__demo__/custom.jsx
  src/components/Progress/__demo__/format.jsx
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(package.json): update lint-staged
  package.json
  yarn.lock
Due: prettier --write

feat(Progress): add color & support of DT
  package.json
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Progress/Progress.jsx
  src/components/Progress/Progress.md
  src/components/Progress/__demo__/color.jsx
  src/components/Progress/__demo__/custom.jsx
  src/components/Progress/__demo__/format.jsx
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.11
  CHANGELOG.md
  package.json
Due: prettier --write

chore(travis-ci): fix travis ci release bug
  .travis.yml
Due: none

fix(build): fix build of lib index.js
  build-index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.12
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): add warning to missing column key
  src/components/Table/Table.jsx
  src/components/Table/__demo__/emptyContent.jsx
  src/components/Table/__demo__/errorContent.jsx
  src/components/Table/__demo__/groupColumns.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.13
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Progress): move out top text & hide overflow progress
  src/components/Progress/Progress.jsx
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
