Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(Steps): add Steps
  .styleguide/components.json
  src/components/Steps/Link.jsx
  src/components/Steps/Step.jsx
  src/components/Steps/Steps.jsx
  src/components/Steps/Steps.md
  src/components/Steps/SvgIcon.jsx
  src/components/Steps/__demo__/steps-current.jsx
  src/components/Steps/__demo__/steps-status.jsx
  src/components/Steps/__demo__/steps-steps.jsx
  src/components/Steps/__demo__/steps.jsx
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/__tests__/demo.test.js
  src/components/Steps/icons/Link.jsx
  src/components/Steps/icons/Loading.jsx
  src/components/Steps/icons/Right.jsx
  src/components/Steps/icons/Step.jsx
  src/components/Steps/icons/Wrong.jsx
  src/components/Steps/index.jsx
  src/components/Steps/style/index.js
  src/components/ThemeProvider/color.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(scripts): update add_component script
  scripts/add_component.sh
Due: none

chore(release): 0.5.19
  CHANGELOG.md
  package.json
Due: prettier --write

fix(NumberInput): fix height in IE
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Grid/__tests__/__snapshots__/demo.test.js.snap
  src/components/Icon/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(NumberInput): fix
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(SvgIcon): add SvgIcon
  .styleguide/components.json
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/SvgIcon.md
  src/components/SvgIcon/__demo__/svgIcon-color.jsx
  src/components/SvgIcon/__demo__/svgIcon-size.jsx
  src/components/SvgIcon/__demo__/svgIcon-spin.jsx
  src/components/SvgIcon/__demo__/svgIcon-type.jsx
  src/components/SvgIcon/__demo__/svgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/demo.test.js
  src/components/SvgIcon/icons/CircleLoading.jsx
  src/components/SvgIcon/icons/Cross.jsx
  src/components/SvgIcon/icons/DottedRightArrow.jsx
  src/components/SvgIcon/icons/Tick.jsx
  src/components/SvgIcon/index.jsx
  src/components/SvgIcon/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Steps): replace icon with svg icon
  index.d.ts
  src/components/Steps/Link.jsx
  src/components/Steps/Step.jsx
  src/components/Steps/StepIcon.jsx
  src/components/Steps/SvgIcon.jsx
  src/components/Steps/__tests__/__snapshots__/demo.test.js.snap
  src/components/Steps/icons/Link.jsx
  src/components/Steps/icons/Loading.jsx
  src/components/Steps/icons/Right.jsx
  src/components/Steps/icons/Wrong.jsx
  src/components/Steps/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.5.20
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Input): fix input disabled color in safari
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Icon): add prefix to support custom font-icon
  src/components/Icon/Icon.jsx
  src/components/Icon/Icon.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Drawer): add close handler
  src/components/Drawer/Drawer.jsx
  src/components/Drawer/Drawer.md
  src/components/Drawer/__demo__/closeHandler.jsx
  src/components/Drawer/__demo__/drawer.jsx
  src/components/Drawer/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/BoldCross.jsx
  src/components/ThemeProvider/color.js
  src/libs/rc-drawer/Drawer.js
  src/style/globalAnimation.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Drawer): change css timeout
  src/components/Drawer/Drawer.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.5.21
  CHANGELOG.md
  package.json
Due: prettier --write

fix(NumberInput): fix border when hideHandler
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add columnPlaceholder
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__demo__/table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/libs/rc-table/BaseTable.js
  src/libs/rc-table/BodyTable.js
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/Column.js
  src/libs/rc-table/ColumnGroup.js
  src/libs/rc-table/ColumnManager.js
  src/libs/rc-table/ExpandIcon.js
  src/libs/rc-table/ExpandableRow.js
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/HeadTable.js
  src/libs/rc-table/LICENSE.md
  src/libs/rc-table/README.md
  src/libs/rc-table/Table.js
  src/libs/rc-table/TableCell.js
  src/libs/rc-table/TableHeader.js
  src/libs/rc-table/TableHeaderRow.js
  src/libs/rc-table/TableRow.js
  src/libs/rc-table/index.js
  src/libs/rc-table/utils.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change ; to locale & merge package version
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tabs): remove point-event:none in disabled tab
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Menu): remove pointer-event:none of menu item
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Menu/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.5.22
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): optimize ActionList disabled item
  src/components/Table/ActionList.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add cable for table child td
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/ThemeProvider/color.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.5.23
  CHANGELOG.md
  package.json
Due: prettier --write
