Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

build(yarn): update yarn & yarn.lock
  yarn.lock
Due: none

docs(readme): remove docs out of date
  README.md
Due: prettier --write

docs(readme): fix mistake
  README.md
Due: prettier --write

chore(eslint): move eslint globals to overrides
  .eslintrc
Due: none

fix(SimpleStore): fix return ref
  src/stores/SimpleStore.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

ci(Circle): add end job
  .circleci/config.yml
Due: none

ci(Circle): add missing end job
  .circleci/config.yml
Due: none

ci(Travis): donot build push of common branch
  .travis.yml
Due: none

ci(Travis): do not build push of common branch
  .travis.yml
Due: none

test(Badge): add badge test case & demo
  src/components/Badge/Badge.jsx
  src/components/Badge/Badge.md
  src/components/Badge/__demo__/customValue.jsx
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Modal): add test case
  src/components/Modal/__tests__/index.test.js
  tests/shared/sleep.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Calendar): add test case
  src/components/Calendar/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Checkbox): add test case
  src/components/Checkbox/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Input): add test case
  src/components/Input/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(store): add test case of SimpleStore
  src/stores/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(utils): add test case of utils
  src/utils/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

test(Pagination): add test case & remove unused code
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/__tests__/index.test.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(locale): add LocaleProvider to manage locale
  .styleguide/components.json
  src/components/LocaleProvider/LocaleProvider.jsx
  src/components/LocaleProvider/LocaleProvider.md
  src/components/LocaleProvider/__demo__/componentlocale.jsx
  src/components/LocaleProvider/__demo__/localefile.jsx
  src/components/LocaleProvider/__demo__/localeprovider.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/demo.test.js
  src/components/LocaleProvider/index.jsx
  src/components/LocaleProvider/localConsumerDecorator.jsx
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/locale/en_US.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Calendar): add support of LocaleProvider
  .styleguide/style.css
  src/components/Calendar/Calendar.jsx
  src/components/Calendar/locale/en_US.js
  src/components/Calendar/locale/zh_CN.js
  src/components/LocaleProvider/LocaleProvider.md
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__demo__/localefile.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/LocaleProvider/localeConsumerDecorator.jsx
  src/components/Pagination/Pagination.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(Calendar): add month calendar
  src/components/Calendar/Calendar.md
  src/components/Calendar/Month.jsx
  src/components/Calendar/__demo__/month.jsx
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/__tests__/index.test.js
  src/components/Calendar/index.jsx
  src/components/Calendar/style/index.js
  src/components/LocaleProvider/localeConsumerDecorator.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests

feat(DatePicker): add support of LocaleProvider
  src/components/DatePicker/DatePicker.jsx
  src/components/DatePicker/Month.jsx
  src/components/DatePicker/Range.jsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/locale/en_US.js
  src/components/DatePicker/locale/zh_CN.js
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests
