Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

docs(Theme): add dark theme
  .styleguide/components/ReactExample.jsx
  src/components/ThemeProvider/dark.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

test(All): update snapshot
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 0.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Select): fix selector styles
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Modal): fix modal hide-mask style
  src/components/Modal/Modal.jsx
  src/components/Modal/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ThemeProvider): add designtokens to loading,drawer,tabs
  src/components/Drawer/Drawer.jsx
  src/components/Drawer/style/index.js
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/Loading/style/index.js
  src/components/Tabs/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tabs/style/index.js
  src/components/Tabs/style/theme.js
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Calendar): remove moment locale in calendar
  .styleguide/setup.js
  src/components/Calendar/Calendar.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): remove moment locale in calendar
  src/components/Calendar/Calendar.md
  src/components/Calendar/Month.jsx
  src/components/DatePicker/DatePicker.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(Test): fix test case
  tests/setup.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): remove moment locale in calendar
  .styleguide/setup.js
  src/components/Calendar/Calendar.jsx
  src/components/Calendar/Calendar.md
  src/components/Calendar/Month.jsx
  src/components/DatePicker/DatePicker.md
  tests/setup.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(DatePicker): change month wrapper width to 240
  src/components/DatePicker/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Tooltip): add arrow props to hide arrow
  src/components/Tooltip/Tooltip.jsx
  src/components/Tooltip/Tooltip.md
  src/components/Tooltip/__demo__/arrow.jsx
  src/components/Tooltip/__demo__/tooltip.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change table tip notice to default
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Input): fix input placeholder color when disable
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Slider): fix slider bug when key props change
  src/components/Slider/Slider.jsx
  src/components/ZForm/ZForm.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage
