Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(DatePicker): change some style & confirm when clear
  src/components/AutoComplete/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/style/index.ts
  src/components/DatePicker/usePicker.tsx
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/Input.tsx
  src/components/Input/__tests__/__snapshots__/demo.test.js.snap
  src/components/Input/style/index.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/Switch/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/TimePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tree/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.3
  build/bundle.08822692.js
  build/bundle.08822692.js.LICENSE.txt
  build/bundle.2d22e40e.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): don't trigger confirm when clear
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
  src/components/DatePicker/useRangePicker.tsx
Due: none

chore(release): 1.4.4
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.4
  build/bundle.08822692.js
  build/bundle.956c0a94.js
  build/bundle.956c0a94.js.LICENSE.txt
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(DatePicker): confirm change when clear
  src/components/DatePicker/Range.tsx
  src/components/DatePicker/usePicker.tsx
  src/components/DatePicker/useRangePicker.tsx
Due: none

chore(release): 1.4.5
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.5
  build/bundle.7247ec20.js
  build/bundle.7247ec20.js.LICENSE.txt
  build/bundle.956c0a94.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(DatePicker): fix range picker precision
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/style/index.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/usePicker.tsx
  src/components/DatePicker/utils.ts
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: none

chore(release): 1.4.6
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.4.6
  build/bundle.7247ec20.js
  build/bundle.cf674945.js
  build/bundle.cf674945.js.LICENSE.txt
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): update recodo-gen
  .recodo/data/docs.json
  .recodo/data/examples.json
  package.json
  yarn.lock
Due: prettier --write

feat(SvgIcon): update icons
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Calendar/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Cascader/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/ArrowDown.jsx
  src/components/SvgIcon/icons/ArrowLeft.jsx
  src/components/SvgIcon/icons/ArrowRight.jsx
  src/components/SvgIcon/icons/ArrowUp.jsx
  src/components/SvgIcon/icons/DoubleArrowLeft.jsx
  src/components/SvgIcon/icons/DoubleArrowRight.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix sticky style when resize
  src/libs/rc-table/Table.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(TimePicker): upgrade calendar to fix click current stepper
  .styleguide/components.js
  package.json
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix placeholder & display text style
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.tsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: none

docs(recodo): update input define
  src/components/Input/.recodo/interaction.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): change search icon
  src/components/Select/Select.tsx
Due: none

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.0
  build/bundle.5076af00.js
  build/bundle.5076af00.js.LICENSE.txt
  build/bundle.cf674945.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix search input for old version
  src/components/Select/Select.tsx
  src/components/Select/__demo__/boundary.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.1
  build/bundle.38b73ea4.js
  build/bundle.38b73ea4.js.LICENSE.txt
  build/bundle.5076af00.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(DatePicker): add deprecated tag to shortcuts
  src/components/DatePicker/DatePicker.tsx
Due: none

feat(ActionList): add autoAdjustment
  .styleguide/setup.js
  src/components/ActionList/ActionList.md
  src/components/ActionList/ActionList.tsx
  src/components/ActionList/__demo__/actionList.jsx
  src/components/ActionList/__demo__/resizable.jsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/ActionList/style/index.ts
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__demo__/actionList.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/useOverflow.tsx
  tests/setup.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add support of actionListAutoAdjustment
  src/components/ActionList/ActionList.tsx
  src/components/ConfigProvider/ConfigContext.tsx
  src/components/ConfigProvider/ConfigProvider.md
  src/components/ConfigProvider/ConfigProvider.tsx
  src/components/ConfigProvider/__demo__/actionList.jsx
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/hooks/useConfig.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(ConfigProvider): add setConfig
  src/components/ActionList/ActionList.tsx
  src/components/ConfigProvider/ConfigContext.tsx
  src/components/ConfigProvider/ConfigProvider.tsx
  src/components/ConfigProvider/index.tsx
  src/config.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix fallback version option search bug
  src/components/Select/Option.tsx
Due: none

chore(release): 1.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.2
  build/bundle.38b73ea4.js
  build/bundle.8faa56c0.js
  build/bundle.8faa56c0.js.LICENSE.txt
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): rewrite Select overflow with useOverflow for fix
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Select/Overflow.tsx
  src/components/Select/__demo__/select.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.tsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(TimePicker): fix clear interaction
  src/components/TimePicker/TimePicker.tsx
Due: none

chore(release): 1.5.3
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.5.3
  build/bundle.1b1b8207.js
  build/bundle.1b1b8207.js.LICENSE.txt
  build/bundle.8faa56c0.js
  index.html
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(useOverflow): add lock to start for avoid initial bug
  src/hooks/useOverflow.tsx
Due: none
