Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.16
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.16
  build/bundle.6893abf2.js
  build/bundle.82938222.js
  build/bundle.82938222.js.LICENSE.txt
  index.html
  style.css
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): fix misspell
  src/components/Checkbox/__demo__/checkbox.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/__demo__/icon.jsx
  src/components/Tag/__demo__/tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(index.d.ts): inputStyle capitalization error
  index.d.ts
Due: none

fix(index.d.ts): NumberInput inputStyle case bug
  index.d.ts
Due: none

feat(All): add support of ts components
  .babelrc.json
  .eslintrc
  .styleguide/components/Examples.jsx
  .styleguide/setup.js
  .styleguide/style.css
  index.js
  package.json
  styleguide.config.js
  tests/shared/DemoBlock.jsx
  tests/shared/DemoWrap.jsx
  tests/shared/demoUtil.jsx
  tests/shared/formLayout.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(DesignTokens): update design tokens
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(eslint): fix code to adapt new eslint
  .eslintrc
  .styleguide/style.css
  package.json
  src/components/Box/style/index.js
  src/components/Calendar/utils.js
  src/components/DatePicker/Range.jsx
  src/components/Form/Item.jsx
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/Menu/Menu.jsx
  src/components/Message/method.jsx
  src/components/Modal/method.jsx
  src/components/NumberInput/NumberInput.jsx
  src/components/Pagination/Options.jsx
  src/components/Slider/Slider.jsx
  src/components/Table/Table.jsx
  src/components/Upload/Upload.jsx
  src/components/ZForm/__demo__/name.jsx
  src/decorators/uncontrolled.jsx
  src/libs/rc-align/index.jsx
  src/libs/rc-table/BaseTable.js
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/TableHeaderRow.js
  src/libs/rc-table/TableRow.js
  src/utils/memo.js
  src/utils/styledWrap.tsx
  tests/__mocks__/rc-trigger.js
  tests/shared/demoTest.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Badge): add placement & offset & color & zIndex
  src/components/Badge/Badge.jsx
  src/components/Badge/Badge.md
  src/components/Badge/Badge.tsx
  src/components/Badge/Bubble.jsx
  src/components/Badge/__demo__/badge.jsx
  src/components/Badge/__demo__/badgeStyle.jsx
  src/components/Badge/__demo__/color.jsx
  src/components/Badge/__demo__/customStyle.jsx
  src/components/Badge/__demo__/customValue.jsx
  src/components/Badge/__demo__/demo.jsx
  src/components/Badge/__demo__/dot.jsx
  src/components/Badge/__demo__/hideWhenZero.jsx
  src/components/Badge/__demo__/noneContent.jsx
  src/components/Badge/__demo__/value.jsx
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/index.tsx
  src/components/Badge/placements.js
  src/components/Badge/placements.ts
  src/components/Badge/style/index.js
  src/components/Badge/style/index.ts
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Badge): fix styledWrap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/utils/styledWrap.tsx
Due: none

feat(Badge): add placement & offset & color & zIndex
  src/components/Badge/Badge.jsx
  src/components/Badge/Badge.md
  src/components/Badge/Badge.tsx
  src/components/Badge/Bubble.jsx
  src/components/Badge/__demo__/badge.jsx
  src/components/Badge/__demo__/badgeStyle.jsx
  src/components/Badge/__demo__/color.jsx
  src/components/Badge/__demo__/customStyle.jsx
  src/components/Badge/__demo__/customValue.jsx
  src/components/Badge/__demo__/demo.jsx
  src/components/Badge/__demo__/dot.jsx
  src/components/Badge/__demo__/hideWhenZero.jsx
  src/components/Badge/__demo__/noneContent.jsx
  src/components/Badge/__demo__/value.jsx
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/index.tsx
  src/components/Badge/placements.js
  src/components/Badge/placements.ts
  src/components/Badge/style/index.js
  src/components/Badge/style/index.ts
  src/utils/styledWrap.tsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(All): add declaration build
  .circleci/config.yml
  .travis.yml
  index.d.ts
  package.json
  src/components/Badge/Badge.tsx
  src/components/Badge/style/index.ts
  src/components/Upload/utils.js
  src/utils/styledWrap.tsx
  tsconfig.json
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.17
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Travis CI auto update docs, v1.0.17
  build/bundle.82938222.js
  build/bundle.9884e8ae.js
  build/bundle.9884e8ae.js.LICENSE.txt
  index.html
  style.css
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

ci(Circle): move publish npm & pages to circle
  .circleci/config.yml
  .travis.yml
  scripts/gh-pages.sh
Due: none

docs(Breadcrumb): update docs demo title
  src/components/ActionList/ActionList.md
  src/components/Breadcrumb/BackButton.md
  src/components/Breadcrumb/Breadcrumb.md
  src/components/Breadcrumb/Item.md
Due: prettier --write

chore(release): 1.0.18
  CHANGELOG.md
  package.json
Due: prettier --write

ci(Circle): fix circle ci build bug
  .circleci/config.yml
Due: none

docs(Button): update docs demo title
  src/components/Button/Button.md
Due: prettier --write

chore(release): 1.0.19
  CHANGELOG.md
  package.json
Due: prettier --write

ci(circle): fix circle ci publish bug
  .circleci/config.yml
  .npmrc
Due: none

docs(Calendar): update docs demo title
  src/components/Calendar/Calendar.md
Due: prettier --write

chore(release): 1.0.20
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs,
  build/bundle.81836df2.js
  build/bundle.81836df2.js.LICENSE.txt
  build/bundle.9884e8ae.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Table): fix sticky style & check
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/designTokens.js
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/utils/checkStickySupport.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.21
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs,
  build/bundle.81836df2.js
  build/bundle.e906b9fc.js
  build/bundle.e906b9fc.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Button): update button demos
  src/components/Button/__demo__/button.jsx
  src/components/Button/__demo__/disabled.jsx
  src/components/Button/__demo__/fakeDisabled.jsx
  src/components/Button/__demo__/icon.jsx
  src/components/Button/__demo__/loading.jsx
  src/components/Button/__demo__/shape.jsx
  src/components/Button/__demo__/size.jsx
  src/components/Button/__demo__/styleType.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

ci(Circle): fix circle ci deploy setting
  .circleci/config.yml
Due: none

docs(Docs): try to fix ie11 crash bug
  .styleguide/components/Examples.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.22
  CHANGELOG.md
  package.json
Due: prettier --write

ci(Circle): fix circle ci build on tag
  .circleci/config.yml
Due: none

chore(release): 1.0.23
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.23
  build/bundle.a5716a7a.js
  build/bundle.a5716a7a.js.LICENSE.txt
  build/bundle.e906b9fc.js
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

docs(Docs): fix ie11 crash bug
  .styleguide/components/Examples.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.0.24
  CHANGELOG.md
  package.json
Due: prettier --write

docs: Circle CI auto update docs, v1.0.24
  build/bundle.a5716a7a.js
  build/bundle.e8c16ab0.js
  build/bundle.e8c16ab0.js.LICENSE.txt
  index.html
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): add Link
  .styleguide/components.js
  src/components/Badge/style/index.ts
  src/components/Link/Link.md
  src/components/Link/Link.tsx
  src/components/Link/__demo__/base.jsx
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/__tests__/demo.test.js
  src/components/Link/index.tsx
  src/components/Link/style/index.ts
  src/components/ThemeProvider/theme.js
  src/utils/styledWrap.tsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Button): rewrite with ts
  .lintstagedrc
  .styleguide/style.css
  index.js
  package.json
  src/components/ActionList/ActionList.jsx
  src/components/ActionList/__demo__/actionList.jsx
  src/components/Badge/style/index.ts
  src/components/Button/Button.jsx
  src/components/Button/Button.tsx
  src/components/Button/__demo__/button.jsx
  src/components/Button/__demo__/size.jsx
  src/components/Button/__demo__/styleType.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/index.tsx
  src/components/Button/shared.ts
  src/components/Button/style/index.js
  src/components/Button/style/index.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__demo__/actionList.jsx
  src/style/animation.ts
  src/style/index.js
  src/style/index.ts
  src/style/interface.ts
  src/style/sWrap.tsx
  src/style/utils.ts
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Link): add subComponent Button
  .styleguide/components.js
  .styleguide/components/StyleGuideRenderer.tsx
  src/components/ActionList/__tests__/__snapshots__/demo.test.js.snap
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
  src/components/Box/__tests__/__snapshots__/demo.test.js.snap
  src/components/Breadcrumb/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/__tests__/index.test.js
  src/components/Button/style/index.tsx
  src/components/Card/__tests__/__snapshots__/demo.test.js.snap
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/DatePicker/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/Button.md
  src/components/Link/Button.tsx
  src/components/Link/__demo__/button.jsx
  src/components/Link/__tests__/__snapshots__/demo.test.js.snap
  src/components/Link/index.tsx
  src/components/Loading/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Modal/__tests__/__snapshots__/demo.test.js.snap
  src/components/Pagination/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/Popover/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferMenu/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  src/components/ZForm/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
