Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "stylelint './src/style/*.js'",
        "stylelint './src/components/**/*.(jsx|js)'",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

feat(Table): add controlled order & default order
  src/components/Table/Table.jsx
  src/components/Table/__demo__/order.jsx
  src/components/Table/__demo__/scroll.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Message): add custom popup method
  src/components/Message/Message.jsx
  src/components/Message/Message.md
  src/components/Message/__demo__/base.jsx
  src/components/Message/__demo__/custom.jsx
  src/components/Message/method.jsx
  src/components/Message/style/index.js
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): change empty column warn to false columns
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): remove columns check
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

* feat(Table): remove columns check
  src/components/Table/Table.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.14
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Message): add config
  src/components/Message/Message.md
  src/components/Message/MessageContainer.jsx
  src/components/Message/__demo__/config.jsx
  src/components/Message/method.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.15
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Drawer): change drawer icon
  src/components/Drawer/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Upload): support single select
  src/components/Upload/Upload.jsx
  src/components/Upload/Upload.md
  src/components/Upload/__demo__/accept.jsx
  src/components/Upload/__demo__/base.jsx
  src/components/Upload/__demo__/controlled.jsx
  src/components/Upload/__demo__/listType.jsx
  src/components/Upload/__demo__/maxSize.jsx
  src/components/Upload/__demo__/readFile.jsx
  src/components/Upload/__demo__/selector.jsx
  src/components/Upload/__demo__/single.jsx
  src/components/Upload/__demo__/uncontrolled.jsx
  src/components/Upload/__demo__/upload.jsx
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tag): add component Tag
  .styleguide/components.json
  .styleguide/setup.js
  src/components/Checkbox/style/index.js
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/SvgIcon/style/index.js
  src/components/Tag/Group.jsx
  src/components/Tag/Group.md
  src/components/Tag/Icon.jsx
  src/components/Tag/Icon.md
  src/components/Tag/Tag.jsx
  src/components/Tag/Tag.md
  src/components/Tag/__demo__/group-compact.jsx
  src/components/Tag/__demo__/group.jsx
  src/components/Tag/__demo__/icon-icon.jsx
  src/components/Tag/__demo__/icon-styleType.jsx
  src/components/Tag/__demo__/icon.jsx
  src/components/Tag/__demo__/tag-closable.jsx
  src/components/Tag/__demo__/tag-disabled.jsx
  src/components/Tag/__demo__/tag-icon.jsx
  src/components/Tag/__demo__/tag-styleType.jsx
  src/components/Tag/__demo__/tag.jsx
  src/components/Tag/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tag/__tests__/demo.test.js
  src/components/Tag/index.jsx
  src/components/Tag/style/index.js
  src/components/Upload/Upload.jsx
  src/components/Upload/Upload.md
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add custom style
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/customStyle.jsx
  src/components/Select/__demo__/extra.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.16
  CHANGELOG.md
  package.json
Due: prettier --write

feat(Table): add scroll.onScroll and fix fixed column style
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/libs/rc-table/Table.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Calendar): fix calendar wrong ref
  src/components/Calendar/Calendar.jsx
  src/components/Calendar/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tooltip): change tooltip arrow positio
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tooltip): change tooltip arrow position
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add select tooltip for table select
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/__tests__/index.test.js
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/locale/en_US.js
  src/components/Table/locale/zh_CN.js
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(Table): update snapshot
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Select): add empty content for none option display
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/emptyContent.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/locale/en_US.js
  src/components/Select/locale/zh_CN.js
  src/components/Select/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

fix(Select): fix default them
  .styleguide/components/ReactExample.jsx
  src/components/Select/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Select): add empty content for none option display
  .styleguide/components/ReactExample.jsx
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/Checkbox/style/index.js
  src/components/Collapse/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Menu/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/Select.jsx
  src/components/Select/Select.md
  src/components/Select/__demo__/emptyContent.jsx
  src/components/Select/__tests__/__snapshots__/demo.test.js.snap
  src/components/Select/locale/en_US.js
  src/components/Select/locale/zh_CN.js
  src/components/Select/style/index.js
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Message): enhance message, add title, footer, close
  src/components/Message/Message.jsx
  src/components/Message/Message.md
  src/components/Message/__demo__/closable.jsx
  src/components/Message/__demo__/config.jsx
  src/components/Message/__demo__/demo.jsx
  src/components/Message/__demo__/footer.jsx
  src/components/Message/__demo__/message.jsx
  src/components/Message/__demo__/method.jsx
  src/components/Message/__demo__/title.jsx
  src/components/Message/method.jsx
  src/components/Message/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/ExclamationCircle.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Combine): add Combine and change compact to combine
  .styleguide/components.json
  src/components/Combine/Combine.jsx
  src/components/Combine/Combine.md
  src/components/Combine/__demo__/combine.jsx
  src/components/Combine/__demo__/demo.jsx
  src/components/Combine/__demo__/sharedProps.jsx
  src/components/Combine/__demo__/spacing.jsx
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/__tests__/demo.test.js
  src/components/Combine/index.jsx
  src/components/Combine/style/index.js
  src/components/Compact/Compact.jsx
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/Compact/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

refactor(ci): update standversion
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write
