Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Tooltip): add customStyle & change offset
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/Tooltip.jsx
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(PopConfirm): add popconfirm component
  .styleguide/components.json
  src/components/PopConfirm/PopConfirm.jsx
  src/components/PopConfirm/PopConfirm.md
  src/components/PopConfirm/__demo__/demo.jsx
  src/components/PopConfirm/__demo__/onCancel.jsx
  src/components/PopConfirm/__demo__/onConfirm.jsx
  src/components/PopConfirm/__demo__/popConfirm.jsx
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/demo.test.js
  src/components/PopConfirm/index.jsx
  src/components/PopConfirm/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(PopConfirm): use locale file
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/PopConfirm/PopConfirm.jsx
  src/components/PopConfirm/locale/en_US.js
  src/components/PopConfirm/locale/zh_CN.js
  src/components/PopConfirm/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(PopConfirm): add popconfirm component
  .styleguide/components.json
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/PopConfirm/PopConfirm.jsx
  src/components/PopConfirm/PopConfirm.md
  src/components/PopConfirm/__demo__/demo.jsx
  src/components/PopConfirm/__demo__/onCancel.jsx
  src/components/PopConfirm/__demo__/onConfirm.jsx
  src/components/PopConfirm/__demo__/popConfirm.jsx
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/PopConfirm/__tests__/demo.test.js
  src/components/PopConfirm/index.jsx
  src/components/PopConfirm/locale/en_US.js
  src/components/PopConfirm/locale/zh_CN.js
  src/components/PopConfirm/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(NumberInput): add tooltip for numberinput tip display
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/NumberInput/NumberInput.jsx
  src/components/NumberInput/NumberInput.md
  src/components/NumberInput/__demo__/tooltip.jsx
  src/components/NumberInput/__tests__/__snapshots__/demo.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/Tooltip.md
  src/components/Tooltip/__demo__/style.jsx
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.17
  CHANGELOG.md
  package.json
Due: prettier --write

ci(ci): update travis ci node version
  .travis.yml
Due: none

chore(release): 0.6.18
  CHANGELOG.md
  package.json
Due: prettier --write

fix(PopConfirm): fix popup word break
  src/components/PopConfirm/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.19
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Message): fix empty message style
  src/components/Message/style/index.js
  src/components/NumberInput/__demo__/tooltip.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add tableLayout & rewrite fix column
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Spin/__demo__/base.jsx
  src/components/Table/ActionList.jsx
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/base.jsx
  src/components/Table/__demo__/demo.jsx
  src/components/Table/__demo__/doNotHandleCondition.jsx
  src/components/Table/__demo__/fixed.jsx
  src/components/Table/__demo__/footer.jsx
  src/components/Table/__demo__/onConditionChange.jsx
  src/components/Table/__demo__/scroll.jsx
  src/components/Table/__demo__/table.jsx
  src/components/Table/__demo__/title.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/ThemeProvider/designTokens.js
  src/libs/rc-table/BaseTable.js
  src/libs/rc-table/BodyTable.js
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/ColumnManager.js
  src/libs/rc-table/ExpandableRow.js
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/HeadTable.js
  src/libs/rc-table/Table.js
  src/libs/rc-table/TableCell.js
  src/libs/rc-table/TableHeader.js
  src/libs/rc-table/TableHeaderRow.js
  src/libs/rc-table/TableRow.js
  src/libs/rc-table/index.js
  src/utils/checkStickySupport.js
  src/utils/warning.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(ActionList): add container
  src/components/Table/ActionList.jsx
  src/components/Table/Table.jsx
  src/components/Table/__demo__/actionList.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): fix missing actionlist context
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/ActionList.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

test(Table): update snapshot
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
Due: none

feat(Table): add box-shadow animation
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): clean hover code
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/libs/rc-table/BaseTable.js
  src/libs/rc-table/Table.js
  src/libs/rc-table/TableRow.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add tableLayout & rewrite fix column
  package.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Spin/__demo__/base.jsx
  src/components/Table/ActionList.jsx
  src/components/Table/Table.jsx
  src/components/Table/Table.md
  src/components/Table/__demo__/actionList.jsx
  src/components/Table/__demo__/base.jsx
  src/components/Table/__demo__/demo.jsx
  src/components/Table/__demo__/doNotHandleCondition.jsx
  src/components/Table/__demo__/fixed.jsx
  src/components/Table/__demo__/footer.jsx
  src/components/Table/__demo__/onConditionChange.jsx
  src/components/Table/__demo__/scroll.jsx
  src/components/Table/__demo__/table.jsx
  src/components/Table/__demo__/title.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/ThemeProvider/designTokens.js
  src/libs/rc-table/BaseTable.js
  src/libs/rc-table/BodyTable.js
  src/libs/rc-table/ColGroup.js
  src/libs/rc-table/ColumnManager.js
  src/libs/rc-table/ExpandableRow.js
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/HeadTable.js
  src/libs/rc-table/Table.js
  src/libs/rc-table/TableCell.js
  src/libs/rc-table/TableHeader.js
  src/libs/rc-table/TableHeaderRow.js
  src/libs/rc-table/TableRow.js
  src/libs/rc-table/index.js
  src/utils/checkStickySupport.js
  src/utils/warning.js
  yarn.lock
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(Table): add rowSelction.selectedTip
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Slider/__tests__/__snapshots__/index.test.js.snap
  src/components/Table/Table.jsx
  src/components/Table/__demo__/table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/demo.test.js.snap
  src/components/Tooltip/__tests__/__snapshots__/index.test.js.snap
  src/components/Tooltip/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableTable): add EditableTable
  .styleguide/components.json
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/EditableTable.md
  src/components/EditableTable/__demo__/addition.jsx
  src/components/EditableTable/__demo__/demo.jsx
  src/components/EditableTable/__demo__/editableTable.jsx
  src/components/EditableTable/__demo__/rowDeletion.jsx
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/demo.test.js
  src/components/EditableTable/index.jsx
  src/components/EditableTable/style/index.js
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Plus.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.20
  CHANGELOG.md
  package.json
Due: prettier --write

feat(EditableList): add EditableList
  .styleguide/components.json
  .styleguide/setup.js
  src/components/Button/Button.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.js
  src/components/Combine/Combine.md
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/style/index.js
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/EditableList.jsx
  src/components/EditableList/EditableList.md
  src/components/EditableList/__demo__/addition.jsx
  src/components/EditableList/__demo__/demo.jsx
  src/components/EditableList/__demo__/editableList.jsx
  src/components/EditableList/__demo__/grid.jsx
  src/components/EditableList/__demo__/itemDeletion.jsx
  src/components/EditableList/__demo__/size.jsx
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/demo.test.js
  src/components/EditableList/index.jsx
  src/components/EditableList/style/index.js
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/__demo__/rowDeletion.jsx
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Minus.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/interfaces/Size.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableList): add locale
  src/components/EditableList/EditableList.jsx
  src/components/EditableList/locale/en_US.js
  src/components/EditableList/locale/zh_CN.js
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/LocaleProvider/localeConsumerDecorator.jsx
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(EditableList): add EditableList
  .styleguide/components.json
  .styleguide/setup.js
  src/components/Button/Button.jsx
  src/components/Button/__tests__/__snapshots__/demo.test.js.snap
  src/components/Button/style/index.js
  src/components/Combine/Combine.md
  src/components/Combine/__tests__/__snapshots__/demo.test.js.snap
  src/components/Combine/style/index.js
  src/components/Compact/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/EditableList.jsx
  src/components/EditableList/EditableList.md
  src/components/EditableList/__demo__/addition.jsx
  src/components/EditableList/__demo__/demo.jsx
  src/components/EditableList/__demo__/editableList.jsx
  src/components/EditableList/__demo__/grid.jsx
  src/components/EditableList/__demo__/itemDeletion.jsx
  src/components/EditableList/__demo__/size.jsx
  src/components/EditableList/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableList/__tests__/demo.test.js
  src/components/EditableList/index.jsx
  src/components/EditableList/locale/en_US.js
  src/components/EditableList/locale/zh_CN.js
  src/components/EditableList/style/index.js
  src/components/EditableTable/EditableTable.jsx
  src/components/EditableTable/__demo__/rowDeletion.jsx
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__demo__/list.jsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/LocaleProvider/localeConsumerDecorator.jsx
  src/components/PopConfirm/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/SvgIcon.jsx
  src/components/SvgIcon/__tests__/__snapshots__/demo.test.js.snap
  src/components/SvgIcon/icons/Minus.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/interfaces/Size.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

feat(TransferTable): add TransferTable
  .styleguide/components.json
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/LocaleProvider/locale/en_US.js
  src/components/LocaleProvider/locale/zh_CN.js
  src/components/Table/Table.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/Transfer/Transfer.jsx
  src/components/Transfer/__tests__/__snapshots__/demo.test.js.snap
  src/components/Transfer/locale/en_US.js
  src/components/Transfer/locale/zh_CN.js
  src/components/Transfer/style/index.js
  src/components/TransferTable/TransferTable.jsx
  src/components/TransferTable/TransferTable.md
  src/components/TransferTable/__demo__/transferTable.jsx
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/TransferTable/__tests__/demo.test.js
  src/components/TransferTable/index.jsx
  src/components/TransferTable/style/index.js
Due: prettier --write, stylelint './src/style/*.js', stylelint './src/components/**/*.(jsx|js)', eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 0.6.21
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,css,md})
  stylelint './src/style/*.js': any of: *.{js,jsx}
  stylelint './src/components/**/*.(jsx|js)': any of: *.{js,jsx}
  eslint: any of: *.{js,jsx}
  jest --bail --findRelatedTests --collectCoverage: any of: *.{js,jsx}
