Repository UCloud-FE/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

.lintstagedrc:

{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}

fix(Badge): fixed font-size
  src/components/Badge/style/index.ts
Due: none

docs(Table): update title columnResizable
  src/components/Table/Table.md
Due: prettier --write

docs(Table): updtae title columnResizable
  .recodo/data/Table.doc.json
Due: prettier --write

ci(Badge): update Badge snapshots
  src/components/Badge/__tests__/__snapshots__/demo.test.js.snap
Due: none

chore(release): 1.5.17
  CHANGELOG.md
  package.json
Due: prettier --write

docs(Docs): update how to update jest demo snapshot
  DEVELOP.md
Due: prettier --write

chore(release): 1.5.18
  CHANGELOG.md
  package.json
Due: prettier --write

feat(ThemeProvider): designTokens add T_THEME
  src/components/ThemeProvider/dark.js
  src/components/ThemeProvider/theme.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.5.19
  CHANGELOG.md
  package.json
Due: prettier --write

fix(Interface): table pagination can be null
  index.d.ts
Due: none

chore(release): 1.5.20
  CHANGELOG.md
  package.json
Due: prettier --write

docs(EditableList): update EditableList docs
  src/components/EditableList/__demo__/demo.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(.recodo): update recode dt editor version
  .recodo/index.tsx
Due: none

feat: update recodo
  .gitignore
  recodo/dist/main.min.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(recodo): update design tokens reference
  .recodo/index.tsx
Due: none

feat: 更新design token 引用
  recodo/dist/main.min.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(designtokens): add designtokens and update style
  src/components/Checkbox/__tests__/__snapshots__/demo.test.js.snap
  src/components/ConfigProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/EditableTable/__tests__/__snapshots__/demo.test.js.snap
  src/components/Form/style/index.tsx
  src/components/LocaleProvider/__tests__/__snapshots__/demo.test.js.snap
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
  src/components/Radio/__tests__/__snapshots__/demo.test.js.snap
  src/components/Radio/style/index.js
  src/components/Switch/style/index.ts
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/style/index.js
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
  src/components/TransferTable/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(designtoken): update T_SWITCH_COLOR_BG_DOT_DISABLED
  src/components/ThemeProvider/designTokens.ts
  src/components/ThemeProvider/designTokensDark.ts
Due: none

feat(modal): improve close icon style
  src/components/Modal/Modal.jsx
  src/components/Modal/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(snapshots): update snapshot
  src/components/LocaleProvider/__tests__/__snapshots__/index.test.js.snap
Due: none

feat(progress): add circle progress
  package.json
  src/components/Progress/CircleProgress.jsx
  src/components/Progress/Progress.jsx
  src/components/Progress/__demo__/base.jsx
  src/components/Progress/__demo__/color.jsx
  src/components/Progress/__demo__/custom.jsx
  src/components/Progress/__demo__/format.jsx
  src/components/Progress/__tests__/__snapshots__/demo.test.js.snap
  src/components/Progress/style/index.js
  src/components/Upload/__tests__/__snapshots__/demo.test.js.snap
  yarn.lock
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(Progress): add Progress docs
  .recodo/data/Progress.info.json
Due: prettier --write

chore(release): 1.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(select): renderContent support new search style
  src/components/Select/Select.tsx
Due: none

feat(slider): add range
  .recodo/data/Slider.doc.json
  .recodo/data/Slider.info.json
  src/components/Slider/Slider.jsx
  src/components/Slider/Slider.md
  src/components/Slider/__demo__/disabled.jsx
  src/components/Slider/__demo__/marks.jsx
  src/components/Slider/__demo__/range.jsx
  src/components/Slider/__demo__/tipFormatter.jsx
  src/components/Slider/__tests__/__snapshots__/demo.test.js.snap
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

fix(table): add fault-tolerant when record is undefined
  src/components/Table/Table.jsx
  src/components/Table/__demo__/cellMerge.jsx
  src/components/Table/__tests__/__snapshots__/demo.test.js.snap
  src/components/Table/__tests__/index.test.js
  src/libs/rc-table/ExpandableRow.js
  src/libs/rc-table/ExpandableTable.js
  src/libs/rc-table/Table.js
  src/libs/rc-table/TableCell.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.8.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(modal): the close button is missing a key
  src/components/Modal/Modal.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

chore(release): 1.8.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(add layout): add layout
  .styleguide/components.js
  src/components/Layout/Content.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header.tsx
  src/components/Layout/Layout.md
  src/components/Layout/Layout.tsx
  src/components/Layout/Sider.md
  src/components/Layout/Sider.tsx
  src/components/Layout/__demo__/full-header.jsx
  src/components/Layout/__demo__/full-sider.jsx
  src/components/Layout/__demo__/no-sider.jsx
  src/components/Layout/__tests__/__snapshots__/demo.test.js.snap
  src/components/Layout/__tests__/demo.test.js
  src/components/Layout/index.tsx
  src/components/Layout/style/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

docs(add recodo document): add recodo document
  .recodo/data/Layout.doc.json
  .recodo/data/Layout.info.json
  .recodo/data/index.js
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

feat(change has sider logic): change has sider logic
  src/components/Layout/Layout.tsx
  src/components/Layout/Sider.tsx
  src/components/Layout/__demo__/full-header.jsx
  src/components/Layout/__demo__/full-sider.jsx
Due: prettier --write, eslint, jest --bail --findRelatedTests --collectCoverage

test(update snapshot): update snapshot
  src/components/Layout/__tests__/__snapshots__/demo.test.js.snap
Due: none

docs(docs): docs change
  .recodo/data/Layout.doc.json
  src/components/Layout/Sider.md
Due: prettier --write
